@using Programmania.HtmlHelpers;
@model IEnumerable<Programmania.ViewModels.UserDisciplineVM>;

<ht ml>
 <head>
  <title>Disciplines</title>
  <met a charset="utf-8" />
  <met a name="viewport" content="width=device-width, initial-scale=1" />
  <sc ript src="~/js/loading-bar.min.js"></sc>
  <li nk rel="stylesheet" href="~/css/loading-bar.min.css" />
  <li nk rel="stylesheet" href="~/css/Disciplines.css" />

  <sc ript src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></sc>

  <li nk href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <sc ript src="https://unpkg.com/aos@2.3.1/dist/aos.js"></sc>
 </head>

 <body>
  <div class="header-text">
   <a href="Courses">
    <div class="back">

    </div>
   </a>

        <div class="header-text__content">
            <h3>C# Course</h3>
        </div>
    </div>

    <div class="course__img" data-aos="fade-left" data-aos-duration="1000">
        <img src="~/images/caio.jpg">
    </div>

  <div class="content">
   <div class="desciplines">

    @foreach (var discipline in Model)
    {
     Html.CreateDiscipline(discipline);
    }

   </div>
  </div>

  <sc ript>
   AOS.init();
  </sc>

  <sc ript type="text/javascript" src="~/js/disciplines.js"></sc>
 </body>
 </html>
