p {
    color: white;
}

body {
    background-color: #313131;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error__img {
    display: block;
    margin: auto;
}

.error__msg {
    font-size: 30px;
    text-align: center;
}

.error__msg_small {
    font-size: 20px;
    text-align: center;
}

.input__container {
    margin: auto;
    max-width: 350px;
    min-width: 150px;
}

.sign-in__btn {
    float: left;
}

.main__btn {
    float: right
}
