input {
    box-sizing: border-box;
    display: block;
}

    input[type=text],
    input[type=password],
    input[type=email] {
        padding: 10px;
        margin: 10px 0;
        border: 3px solid #eee;
        border-radius: 10px;
        display: block;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
        transition: all 0.3s ease 0s;
        width: 100%;
    }

        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus{
            outline: none;
            border: 3px solid #ffc14d;
            box-shadow: 4px 4px 10px rgba(255, 217, 145, 0.06);
        }

.checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

    .checkbox-label input[type=checkbox] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .checkbox-label span {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #ddd;
        transition: all 0.3s ease 0s;
    }

        .checkbox-label span:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 4px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

    .checkbox-label:hover span {
        background-color: #ccc;
    }

    .checkbox-label input:checked ~ span {
        background-color: #ffc14d;
    }

        .checkbox-label input:checked ~ span:after {
            display: block;
        }

.checkbox-label {
    display: block;
    margin-bottom: 4px;
    position: relative; 
    padding-left: 30px; 
    cursor: pointer;
}
    .checkbox-label input[type=radio] {
        position: absolute; 
        opactiy: 0;
        width: 0;
        height: 0;
    }

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.btn {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    transition: all 0.3s ease 0s;
    margin: 0 auto !important;
    margin-top: 10px !important;
    font-size: 1em;
}
    .btn:hover {
        opacity: 0.7;
        box-shadow: 5px 5px 12px rgba(0,0,0,0.06);
    }

.btn-danger {
    background-color: #ffc14d;
    color: #fff;
    
}
.btn-success {
    background-color: #4dff5c;
    color: #fff;
}