<!DOCTYPE html>
<html>
<head>
    <title>Challenges</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="~/css/Challenges.css">
    <link rel="stylesheet" href="~/css/HamburgerMenu.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>

                        <li>
                            <a href="News.html" class="header__link">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="challengeItem">
                <div class="challengeItem__user">
                    <div class="challengeItem__user__image">
                        <img src="../Images/avatarImg.png" alt="">
                    </div>

                    <div class="challengeItem__user__info">
                        <h3>Level: 15</h3>
                    </div>
                </div>

                <div class="challengeItem__info">
                    <h3>Subject: C#</h3>
                    <h3>Questions: 10</h3>
                    <h3>Difficulty: medium</h3>
                    <h3>Reward: 300XP</h3>
                </div>

                <a href="#" class="challengeItem__button">
                    <span class="challengeItem__button__text">Play</span>
                    <span class="challengeItem__button__waves"></span>
                </a>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="~/js/burger.js"></script>
</body>
</html>