<!DOCTYPE/>

<html>
<head>
    <title>Courses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />
    <link rel="stylesheet" href="~/css/Courses.css" />

    <link rel="stylesheet" href="~/css/loading-bar.min.css" />
    <script src="~/js/loading-bar.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

    <header class="header">
        <div class="header-container">
            <div class="container__text">Programmania</div>
            <div class="header__burger">
                <span></span>
            </div>
            <div class="container-menu">
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="News" class="header__link">News</a>
                        </li>

                        <li>
                            <a href="Challenges" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile" class="header__link">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="main">
                <div class="card mb-3">
                    <div class="coursesList">
                        <a href="#">
                            <div class="coursesList__item">
                                <div class="coursesList__item__hover">
                                    <div class="coursesList__item__hover__body">
                                        <div class="roundedPb">

                                        </div>
                                    </div>
                                </div>
                                <div class="coursesList__item__image">
                                    <img src="../Images/JSLogo.png" alt="">
                                </div>

        <div class="content">
            <div class="courses" data-aos="fade-left" data-aos-duration="1500">

                                <div class="coursesList__item__footer">
                                    <h3>Leksions count: 23</h3>
                                    <h3>Progress: 12%</h3>
                                    <h3>Completed leksion: 5/23</h3>
                                    <h3>People opened this course: 130</h3>
                                    <h3>Earn XP: 3000</h3>
                                </div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="coursesList__item">
                                <div class="coursesList__item__hover">
                                    <div class="coursesList__item__hover__body">
                                        <div class="roundedPb">

                                        </div>
                                    </div>
                                </div>
                                <div class="coursesList__item__image">
                                    <img src="../Images/JSLogo.png" alt="">
                                </div>

                                <div class="coursesList__item__body">
                                    <h3>JavaScript course</h3>
                                </div>

                                <div class="coursesList__item__footer">
                                    <h3>Leksions count: 23</h3>
                                    <h3>Progress: 12%</h3>
                                    <h3>Completed leksion: 5/23</h3>
                                    <h3>People opened this course: 130</h3>
                                    <h3>Earn XP: 3000</h3>
                                </div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="coursesList__item">
                                <div class="coursesList__item__hover">
                                    <div class="coursesList__item__hover__body">
                                        <div class="roundedPb">

                                        </div>
                                    </div>
                                </div>
                                <div class="coursesList__item__image">
                                    <img src="../Images/JSLogo.png" alt="">
                                </div>

                                <div class="coursesList__item__body">
                                    <h3>JavaScript course</h3>
                                </div>

                                <div class="coursesList__item__footer">
                                    <h3>Leksions count: 23</h3>
                                    <h3>Progress: 12%</h3>
                                    <h3>Completed leksion: 5/23</h3>
                                    <h3>People opened this course: 130</h3>
                                    <h3>Earn XP: 3000</h3>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </main>

    <script type="text/javascript" src="~/js/util/burger.js"></script>
    <script type="text/javascript" src="~/js/util/createPB.js"></script>
    <script src="~/js/loading-bar.min.js"></script>
</body>
</html>																																					