<!DOCTYPE/>
<html>
<head>
    <title>Courses</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/HamburgerMenu.css" />
    <link rel="stylesheet" href="../Styles/Courses.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>

                        <li>
                            <a href="News.html" class="header__link">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="coursesList">
                <a href="#">
                    <div class="coursesList__item">
                        <div class="coursesList__item__hover">
                            <div class="coursesList__item__hover__body">
                                <h3>Leksions count: 23</h3>
                                <h3>Progress: 12%</h3>
                                <h3>Completed leksion: 5/23</h3>
                                <h3>People opened this course: 130</h3>
                                <h3>Earn XP: 3000</h3>
                            </div>
                        </div>
                        <div class="coursesList__item__image">
                            <img src="../Images/JavaLogo.png" alt="">
                        </div>

                        <div class="coursesList__item__body">
                            <h3 class="coursesList__item__body__header">Java course</h3>
                        </div>
                    </div>
                </a>


                <a href="#">
                    <div class="coursesList__item">
                        <div class="coursesList__item__hover">
                            <div class="coursesList__item__hover__body">
                                <h3>Leksions count: 23</h3>
                                <h3>Progress: 12%</h3>
                                <h3>Completed leksion: 5/23</h3>
                                <h3>People opened this course: 130</h3>
                                <h3>Earn XP: 3000</h3>
                            </div>
                        </div>
                        <div class="coursesList__item__image">
                            <img src="../Images/JSLogo.png" alt="">
                        </div>

                        <div class="coursesList__item__body">
                            <h3 class="coursesList__item__body__header">JavaScript course</h3>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="coursesList__item">
                        <div class="coursesList__item__hover">
                            <div class="coursesList__item__hover__body">
                                <h3>Leksions count: 23</h3>
                                <h3>Progress: 12%</h3>
                                <h3>Completed leksion: 5/23</h3>
                                <h3>People opened this course: 130</h3>
                                <h3>Earn XP: 3000</h3>
                            </div>
                        </div>
                        <div class="coursesList__item__image">
                            <img src="../Images/PHPLogo.png" alt="">
                        </div>

                        <div class="coursesList__item__body">
                            <h3 class="coursesList__item__body__header">PHP course</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../Scripts/burger.js"></script>
</body>
</html>																																					