
@{
    ViewData["Title"] = "Course";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Course</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="~/css/Course.css" />
    </head>

    <body>
        <div class="content">
            <button class="accordion">Discipline 1</button>
            <div class="panel">
                <ol>
                    <li>Lesson 1</li>
                    <li>Lesson 2</li>
                    <li>Lesson 3</li>
                </ol>
                <a href="#" class="btn btn-primary">Start learn discipline</a>
            </div>

            <button class="accordion">Discipline 2</button>
            <div class="panel">
                <ol>
                    <li>Lesson 1</li>
                    <li>Lesson 2</li>
                    <li>Lesson 3</li>
                    <li>Lesson 4</li>
                    <li>Lesson 5</li>
                </ol>
                <a href="#" class="btn btn-primary">Start learn discipline</a>
            </div>

            <button class="accordion">Discipline 3</button>
            <div class="panel">
                <ol>
                    <li>Lesson 1</li>
                    <li>Lesson 2</li>
                    <li>Lesson 3</li>
                    <li>Lesson 4</li>
                    <li>Lesson 5</li>
                    <li>Lesson 6</li>
                    <li>Lesson 7</li>
                    <li>Lesson 8</li>
                    <li>Lesson 9</li>
                </ol>
                <a href="#" class="btn btn-primary">Start learn discipline</a>
            </div>
        </div>
        <script src="~/js/util/accordion.js"></script>
    </body>
</html>

