<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/util/zeroing.css" />
	<link rel="stylesheet" href="~/css/aside-menu.css">
	<link rel="stylesheet" href="~/css/util/forms.css">
	<title>Document</title>
</head>
<body>
	<nav class="sidenav">
		<ul class="main-buttons">
			<li>
				<i class="fa fa-circle fa-2x"></i>
				Course
				<ul class="hidden">
					<li>Add</li>
					<li>Update </li>
					<li>Delete </li>
				</ul>
			</li>
			<li>
				<i class="fa fa-circle fa-2x"></i>
				Discipline
				<ul class="hidden">
					<li>Add</li>
					<li>Update</li>
					<li>Delete</li>
				</ul>
			</li>
			<li>
				<i class="fa fa-circle fa-2x"></i>
				Lesson
				<ul class="hidden">
					<li>Add</li>
					<li>Update</li>
					<li>Delete</li>
				</ul>
			</li>

			<li>
				<i class="fa fa-circle fa-2x"></i>
				Test
				<ul class="hidden">
					<li>
						Adds
					</li>
					<li>Update</li>
					<li>Delete</li>
				</ul>
			</li>
		</ul>
	</nav>







	<div class="form-container">
		<form>
			<label for="text1">Text1</label>
			<input type="text" placeholder="text1">
		
			<label for="text2">Text2</label>
			<input type="text" placeholder="text2">
		
			<select class="select" name="select1" id="select1">
				<option value="value 1">Value 1</option>
				<option value="value 2">Value 2</option>
				<option value="value 3">Value 3</option>
			</select>
		
			<select class="select" name="select2" id="select2">
				<option value="value 1">Value 1</option>
				<option value="value 2">Value 2</option>
				<option value="value 3">Value 3</option>
			</select>

			<input type="button" class="btn btn-inline btn-success" value="Save">
			
			
		</form>
	</div>
</body>
</html>