@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/util/zeroing.css" />
    <link rel="stylesheet" href="~/css/util/fonts.css" />
    <link rel="stylesheet" href="~/css/components/modal.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header-text">
                <h3>PROGRAMMANIA</h3>
            </div>

            <div class="header-menu">
                <a class="header-menu__item" href="#main">Main</a>
                <a class="header-menu__item" href="#courses">Courses</a>
                <a class="header-menu__item" href="#advantages">Advantages</a>
                <a class="header-menu__item" href="#features">Features</a>
                <a class="header-menu__item" id="enterRegisterModal" href="#">Register</a>
                <a class="header-menu__item" id="enterLoginModal" href="#">Login</a>
            </div>

            <div class="header-image">
                <a name="main"></a>
                <div class="header-image-text">
                    <h3>Programmania</h3>
                    <h5>We will be glad to see you</h5>
                </div>
            </div>
        </header>


        <main class="main">
            <div class="courses">
                <h3 class="course__header">Our courses</h3>
                <a name="courses"></a>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <img src="~/images/jsCourseSlider.jpg" />
                            </div>
                            <div class="swiper-image__text">
                                <h3>JavaScript Course</h3>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <img src="~/images/androidCourseSlider.jpg" />
                            </div>
                            <div class="swiper-image__text">
                                <h3>Android development Course</h3>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <img src="~/images/javaCourseSlider.jpg" />
                            </div>
                            <div class="swiper-image__text">
                                <h3>Java Course</h3>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <img src="~/images/angularCourseSlider.jpg" />
                            </div>
                            <div class="swiper-image__text">
                                <h3>Angular Course</h3>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <img src="~/images/phpCourseSlider.jpg" />
                            </div>
                            <div class="swiper-image__text">
                                <h3>PHP Course</h3>
                            </div>
                        </div>



                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <img src="~/images/csharpCourseSlider.jpg" />
                            </div>
                            <div class="swiper-image__text">
                                <h3>C# Course</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>

            <div class="advantages">

                <div data-aos="zoom-in" data-aos-duration="700" class="advantages__text">
                    <a name="advantages"></a>
                    <h3>Our advantages</h3>
                    <p>
                        Difficult to find good courses at a reasonable price?
                        Welcome to Programmania! Our courses are completely free.
                        Very easy registration, a large number of courses with lectures
                        and tests, the ability to compete with other people, share news
                        and much more only on our website! Learn courses, take tests and
                        develop in Programmania!
                    </p>
                </div>

                <div data-aos="zoom-in" data-aos-duration="700" class="advantages__image">
                    <img src="~/images/advantagesImage.jpg" />
                </div>
            </div>

            <div class="features">
                <a name="features"></a>
                <h3>Our features</h3>
                <div data-aos="zoom-in" data-aos-duration="700" class="features__list">
                    <ul>
                        <li>All courses are free</li>
                        <li>Convenient and intuitive interface</li>
                        <li>User level system</li>
                        <li>The ability to compete with other users</li>
                        <li>Grade Schedule</li>
                        <li>Ability to upload articles</li>
                    </ul>
                </div>
            </div>

            <div class="modal" id="registerModal">
                <div class="modal-content" style="width: 500px">
                    <span id="closeRegisterModal" class="close">&times;</span>

                    <form name="registerForm" id="registerForm" method="post">

                        <div class="form-group">
                            <label id="nicknameLabelReg" class="modal__label">Nickname: </label>
                            <p class="error"></p>
                            <input id="nicknameInputReg" type="text" class="form-control modal__input" placeholder="nickname" />
                        </div>

                        <div class="form-group">
                            <label id="emailLabelReg" class="modal__label">Email: </label>
                            <p class="error"></p>
                            <input id="emailInputReg" type="email" class="form-control modal__input" placeholder="email" />
                        </div>

                        <div class="form-group">
                            <label id="passwordLabelReg" class="modal__label">Password: </label>
                            <p class="error"></p>
                            <input id="passwordInputReg" type="password" class="form-control modal__input" placeholder="password" />
                        </div>

                        <div class="form-group">
                            <label id="passwordConfirmationLabelReg" class="modal__label">Confirm password: </label>
                            <p class="error"></p>
                            <input id="passwordConfirmationInputReg" type="password" class="form-control modal__input" placeholder="confirm password" />
                        </div>

                        <div class="form-group">
                            <label id="avatarLabelReg" class="modal__label">Avatar: </label>
                            <p class="error"></p>
                            <input id="avatarInputReg" type="file" class="form-control modal__input"/>
                        </div>

                        <input type="button" id="registerBtnOut" class="btn btn-danger modal__btn" name="registerBtn" value="Register" />
                        <p class="error"></p>
                    </form>
                </div>
            </div>

            <div class="modal" id="loginModal">
                <div class="modal-content" style="width: 500px">
                    <span id="closeLoginModal" class="close">&times;</span>

                    <form name="loginForm" id="loginForm">
                        <div class="form-group">
                            <label id="emailLabelLog" class="modal__label" for="emailInputLog">Email: </label>
                            <p class="error"></p>
                            <input id="emailInputLog" type="email" class="form-control modal__input" placeholder="email" name="emailInput" />
                        </div>

                        <div class="form-group">
                            <label id="passwordLabelLog" class="modal__label" for="passwordInputLog">Password: </label>
                            <p class="error"></p>
                            <input id="passwordInputLog" type="password" class="form-control modal__input" placeholder="password" name="passwordInput" />
                        </div>

                        <input type="button" id="loginBtnOut" class="btn btn-success modal__btn" name="loginBtn" value="Login" />
                        <p class="error"></p>
                    </form>
                </div>
            </div>


        </main>
    </div>

    <footer class="footer">
        <div class="footer-links" data-aos="zoom-in" data-aos-duration="700">
            <a href="#" class="footer-links_first">
                <div class="footer-link__image">
                    <img src="~/images/facebookLogo.png" />
                </div>
            </a>

            <a href="#">
                <div class="footer-link__image">
                    <img src="~/images/twitterLogo.png" />
                </div>
            </a>

            <a href="#">
                <div class="footer-link__image">
                    <img src="~/images/linkedinLogo.png" />
                </div>
            </a>
        </div>

        <div class="footer__text" data-aos="zoom-in" data-aos-duration="700">
            <h5>&#x24B8; 2021 Programmania. All rights reserved.</h5>
        </div>
    </footer>


    <script type="application/javascript" src="~/js/util/camelize.js"></script>
    <script type="application/javascript" src="~/js/index.js"></script>
    <script type="application/javascript" src="~/js/util/slider.js"></script>
    <script type="application/javascript" src="~/js/util/openModal.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>