@{
 ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Slider.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>

    <header>
        <nav class="headerNav">
            <ul>
                <li>
                    <a href="#" text="Home">Home</a>
                </li>

                <li>
                    <a href="#menu" text="Menu">Menu</a>
                </li>

                <li>
                    <a href="#" text="Contact">Contact</a>
                </li>

                <li>
                    <a href="#" text="About">About</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="image-slider swiper-container">
        <div class="image-slider-wrapper swiper-wrapper">

            <div class="image-slider-slide swiper-slide">
                <div class="image-slider-image">
                    <h1 id="coursesHeader">Take courses and gain new knowledge</h1>
                    <img class="swiper-lazy" data-src="../images/courseSlider.jpg" src="../images/courseSlider.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="image-slider-slide swiper-slide">
                <div class="image-slider-image">
                    <h1 id="codeHeader">Share your projects and see others' projects</h1>
                    <img class="swiper-lazy" data-src="../images/codeSlider.png" src="../images/codeSlider.png" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="image-slider-slide swiper-slide">
                <div class="image-slider-image">
                    <h1 id="testsHeader">Take tests and get rewards</h1>
                    <img class="swiper-lazy" data-src="../images/testsSlider.jpg" src="../images/testsSlider.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="image-slider-slide swiper-slide">
                <div class="image-slider-image">
                    <h1 id="progressHeader">Compete with others and unlock new courses for your rewards</h1>
                    <img class="swiper-lazy" data-src="../images/progressSlider.jpg"
                         src="../images/progressSlider.jpg" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>


        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-pagination"></div>
    </div>




    <div class="swiper-scrollbar"></div>



    <div class="xop-section">
        <div class="xop-box">
            <a href="#" name="menu">
                <div class="xop-info">
                    <div class="xop-info-title">
                        Courses
                    </div>
                    <div class="xop-info-image-courses">

                    </div>
                </div>
            </a>
        </div>

        <div class="xop-box" id="registerDiv">
            <a href="#">
                <div class="xop-info">
                    <div class="xop-info-title">
                        Register
                    </div>
                    <div class="xop-info-image-register">

                    </div>
                </div>
            </a>
        </div>

        <div class="xop-box" id="loginDiv">
            <a href="#">
                <div class="xop-info">
                    <div class="xop-info-title">
                        Login
                    </div>
                    <div class="xop-info-image-login">

                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="modal" id="registerModal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <form name="registerForm" id="registerForm">
                <div class="form-group">
                    <label for="nameInput">Name: </label>
                    <input type="text" class="form-control" placeholder="Name" name="nameInput" />
                </div>

                <div class="form-group">
                    <label for="ageInput">Age: </label>
                    <input type="number" class="form-control" placeholder="Age" name="ageInput" />
                </div>

                <div class="form-group">
                    <label for="nicknameInput">Nickname: </label>
                    <input type="text" class="form-control" placeholder="Nickname" name="nicknameInput" />
                </div>

                <div class="form-group">
                    <label for="emailInput">Email: </label>
                    <input type="email" class="form-control" placeholder="email" name="emailInput" />
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password: </label>
                    <input type="password" class="form-control" name="passwordInput" />
                </div>


                <input type="button" id="registerBtn" class="btn btn-danger" name="registerBtn" value="Register" />
            </form>
        </div>
    </div>

    <div class="modal" id="loginModal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <form name="loginForm" id="loginForm">
                <div class="form-group">
                    <label for="emailInput">Email: </label>
                    <input type="email" class="form-control" placeholder="email" name="emailInput" />
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password: </label>
                    <input type="password" class="form-control" name="passwordInput" />
                </div>
                <input type="button" id="loginBtn" class="btn btn-success" name="loginBtn" value="Login" />
            </form>
        </div>
    </div>

    <section class="coursesSection">

        <div class="coursesFlex">
            <div class="flexRow-1">
                <div class="flexBody">
                    <div class="flexTitle _anim-items _anim-no-hide">Complete courses and improve your skills</div>

                    <div class="flexText _anim-items _anim-no-hide">
                        <p class="anim_show">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="flexImage _anim-items _anim-no-hide">
                    <img class="imageFlex" src="../images/courseSlider.jpg" />
                </div>
            </div>
        </div>
    </section>

    <section class="projectsSection">
        <div class="projectsFlex">
            <div class="flexRow-2">
                <div class="flexImage _anim-items _anim-no-hide">
                    <img class="imageFlex" src="../images/codeSlider.png" />
                </div>

                <div class="flexBody">
                    <div class="flexTitle _anim-items _anim-no-hide">You can share your projects and view other people's projects</div>
                    <div class="flexText _anim-items _anim-no-hide">
                        <p class="anim_show">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testsSection">
        <div class="testsFlex">
            <div class="flexRow-1">
                <div class="flexBody">
                    <div class="flexTitle _anim-items _anim-no-hide">Complete tests and check your knowledge</div>

                    <div class="flexText _anim-items _anim-no-hide">
                        <p class="anim_show _anim-no-hide">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="flexImage _anim-items _anim-no-hide">
                    <img class="imageFlex" src="../images/testsSlider.jpg" />
                </div>
            </div>
        </div>
    </section>

    <section class="rewardsSection">
        <div class="rewardsFlex">
            <div class="flexRow-2">
                <div class="flexImage _anim-items _anim-no-hide">
                    <img class="imageFlex" src="../images/progressSlider.jpg" />
                </div>

                <div class="flexBody">
                    <div class="flexTitle _anim-items _anim-no-hide">You can share your projects and view other people's projects</div>
                    <div class="flexText _anim-items _anim-no-hide">
                        <p class="anim_show">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script type="application/javascript" src="~/js/openModal.js"></script>
    <script type="application/javascript" src="~/js/slider.js"></script>
    <script type="application/javascript" src="~/js/scrollAnimation.js"></script>
</body>

</html>