<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/loading-bar.min.css" />
    <script src="~/js/loading-bar.min.js"></script>
    <script src="~/js/util/animateMain.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/HamburgerMenu.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Main.css" />

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="container__text">Programmania</div>
            <div class="header__burger">
                <span></span>
            </div>
            <div class="container-menu">
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a id="mainRef" href="Main" class="header__link">Main</a>
                        </li>

                        <li>
                            <a id="coursesRef" href="Courses" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a id="newsRef" href="News" class="header__link">News</a>
                        </li>

                        <li>
                            <a id="challengesRef" href="Challenges" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a id="profileRef" href="Profile" class="header__link">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <main>
        <div class="header">
        </div>

        <div class="content">

            <div class="coursesContainer">
                <div class="currentCourse" data-aos="fade-right" data-aos-duration="1000">
                    <div class="currentCourse__image ">
                        <img src="~/images/cSharpLogo.png" />
                    </div>

                    <div class="currentCourse-content ">
                        <div class="currentCourse-content__header">
                            Current Course C#
                        </div>

                        <div class="currentCourse-content__text">
                            Lessons Count: 77/100
                        </div>

                        <div class="currentCourse-content__percent">
                            <div class="ldBar label-center"
                                 data-preset="circle"
                                 data-value="77"
                                 data-transition-in="1000"
                                 style="width: 60%; height: 60%;"></div>
                        </div>

                        <a>
                            <div class="currentCourse-content__button">
                                Last lesson: Working with sockets
                            </div>
                        </a>

                    </div>
                </div>

                <div class="courses row" data-aos="fade-left" data-aos-duration="1000">
                    <a class="col-md-6">
                        <div class="courses__course">
                            <img src="~/images/phpCourse.png" />
                        </div>
                    </a>

                    <a class="col-md-6">
                        <div class="courses__course">
                            <img src="~/images/javaCourse.png" />
                        </div>
                    </a>

                    <a class="col-md-6">
                        <div class="courses__course">
                            <img src="~/images/pythonCourse.png" />
                        </div>
                    </a>

                    <a class="col-md-6">
                        <div class="courses__course">
                            <img src="~/images/cplusplusCourse.jpg" />
                        </div>
                    </a>
                </div>
            </div>

            <div class="levelAndPerformanceContainer">
                <div class="level" data-aos="fade-right" data-aos-duration="1000">
                    <div class="level__header">
                        LEVEL
                    </div>

                    <div class="level-content">
                        <h3>77%</h3>
                        <h5>TO 21 LVL 250xp left</h5>
                    </div>

                    <div class="level__percent">
                        <div class="ldBar"
                             data-preset="line"
                             data-value="77"
                             data-transition-in="2000"
                             style="width: 100%; height: 50%;">
                        </div>
                    </div>

                    <div class="level__xp">
                        255000/255250 XP
                    </div>
                </div>

                <div class="performance" data-aos="fade-left" data-aos-duration="1000">
                    <div class="chartArea">
                        <div class="chart-container">
                            <canvas id="performanceChart" style="width: 100%; height: 100%">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="challenges" data-aos="flip-left" data-aos-duration="1000">

                <a>
                    <div class="challenges-item challenges-item_create">
                        <div class="challenges-item__image">
                            <img src="~/images/pythonCourse.png" />
                        </div>

                        <div class="challenges-item-content">
                            <div class="challenges-item-content__userImage">
                                <img src="~/images/ProfileImg.png" />
                            </div>

                            <div class="challenges-item-content__username">
                                Daniel
                            </div>

                            <div class="challenges-item-content__description">
                                Propose a challenge in Python language
                            </div>

                            <div class="challenges-item-content__button" id="createBtn">
                                Create
                            </div>
                        </div>
                    </div>
                </a>

                <a>
                    <div class="challenges-item challenges-item_accept">
                        <div class="challenges-item__image">
                            <img src="~/images/csharpCourse.jpg" />
                        </div>

                        <div class="challenges-item-content">
                            <div class="challenges-item-content__userImage">
                                <img src="~/images/ProfileImg.png" />
                            </div>

                            <div class="challenges-item-content__username">
                                John Johnson
                            </div>

                            <div class="challenges-item-content__description">
                                Challenged you on the C# language
                            </div>

                            <div class="challenges-item-content__button" id="acceptBtn">
                                Accept
                            </div>

                            <div class="challenges-item__triangle">
                            </div>
                        </div>
                    </div>
                </a>



                <div class="challenges-info">
                    <div class="challenges-info__header">
                        Challenges
                    </div>


                    <div class="challenges-info__percent">
                        <div class="ldBar label-center"
                             data-preset="circle"
                             data-value="77"
                             data-transition-in="1000"
                             style="width: 100%; height: 100%">
                        </div>
                    </div>

                    <div class="triangle">
                    </div>
                </div>


                <a>
                    <div class="challenges-item challenges-item_accept">
                        <div class="challenges-item__image">
                            <img src="~/images/RubyCourse.jpg" />
                        </div>

                        <div class="challenges-item-content">
                            <div class="challenges-item-content__userImage">
                                <img src="~/images/ProfileImg.png" />
                            </div>

                            <div class="challenges-item-content__username">
                                Maria Lovely
                            </div>

                            <div class="challenges-item-content__description">
                                Challenged you on the Ruby language
                            </div>

                            <div class="challenges-item-content__button" id="acceptBtn">
                                Accept
                            </div>

                            <div class="challenges-item__triangle">
                            </div>
                        </div>
                    </div>
                </a>

                <a>
                    <div class="challenges-item challenges-item_create">
                        <div class="challenges-item__image">
                            <img src="~/images/cplusplusCourse.jpg" />
                        </div>

                        <div class="challenges-item-content">
                            <div class="challenges-item-content__userImage">
                                <img src="~/images/ProfileImg.png" />
                            </div>

                            <div class="challenges-item-content__username">
                                Lili Raider
                            </div>

                            <div class="challenges-item-content__description">
                                Propose a challenge in C++ language
                            </div>

                            <div class="challenges-item-content__button" id="createBtn">
                                Create
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="achievmentsAndNewsContainer">
                <div class="achievment" data-aos="fade-right" data-aos-duration="1000">
                    <div class="achievment__image lifted">
                        <img src="~/images/achievment.png" />
                    </div>

                    <div class="achievment-content">
                        <div class="achievment-content__header">
                            Achievment
                        </div>

                        <div class="achievment-content-main">
                            <div class="achievment-content-main__header">
                                Some achievment
                            </div>

                            <div class="achievment-content-main-flex">
                                <div class="achievment-content-main-flex__percent">
                                    <div class="ldBar label-center"
                                         data-preset="line"
                                         data-value="60"
                                         data-transition-in="1500"
                                         style="width: 100%; height: 50%;">
                                    </div>

                                    <div class="achievment-content-main-flex__text">
                                        5 plays left
                                    </div>
                                </div>

                                <div class="achievment-content-main-flex__image">
                                    <img src="~/images/Achievments/brilliantBook.svg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </main>


    <script type="text/javascript" src="~/js/util/createChartInMain.js"></script>
    <script type="text/javascript" src="~/js/util/burger.js"></script>
    <script type="text/javascript" src="~/js/denyBtnClick.js"></script>
    <script type="text/javascript" src="~/js/util/scrollAnimation.js"></script>
    <script type="text/javascript" src="~/js/denyBtnClick.js"></script>
    <script type="text/javascript" src="~/js/util/cookie.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script>
        AOS.init();
    </script>
</body>


</html>  