<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/loading-bar.min.css" />
    <script src="~/js/loading-bar.min.js"></script>
    <script src="~/js/skroll.min.js"></script>
    <script src="~/js/util/animateMain.js"></script>
    <script src="~/js/rAF.js"></script>
   
    <link rel="stylesheet" type="text/css" href="~/css/Main.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>

                        <li>
                            <a href="News.html" class="header__link">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <main>
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas">

            </canvas>
            <div class="large-header__content">
                <h3>Welcome, Kapusta111</h3>
                <p>Subtitle</p>
            </div>
        </div>



        <div class="content ">

            <div class="leaderboard row _anim-items">

                <div class="leaderboard__image col-md-5 flexImage _anim-items ">
                    <img src="~/images/leaderboard.jpg" />
                </div>

                <div class="leaderboard-content col-md-7">
                    <div class="leaderboard-header">
                        Leaderboard
                    </div>
                    <div class="leaderboard-content-body anim_show">
                        <ol>
                            <li>
                                <a href="#">
                                    <div class="user">
                                        <p>Kapusta111</p>
                                        <p>Level: 133</p>
                                    </div>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="userslist row _anim-items ">

                <div class="userslist-content col-md-7">
                    <div class="userslist-header">
                        Users List
                    </div>
                    <div class="userslist-content-body anim_show">
                        <ol>
                            <li>
                                <a href="#">
                                    <div class="user">
                                        <p>Kapusta111</p>
                                        <p>Level: 133</p>
                                    </div>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="userslist__image col-md-5 flexImage _anim-items ">
                    <img src="~/images/users.jpg" />
                </div>
            </div>

            <div class="courses-part row _anim-items ">
                <div class="col-md-6 mt-1 _anim-items  flexImage">
                    <a href="#">
                        <div class="current-course">
                            <h3 class="current-course__title anim_show">
                                Current Course
                            </h3>


                            <div class="current-course-body row">
                                <h3 class="current-course-body__title">
                                    Java
                                </h3>
                                <div class="current-course-body-info col-md-6">

                                    <div class="current-course-body-info-image flexImage _anim-items">
                                        <img src="~/images/JavaLogo.png" />
                                    </div>
                                </div>

                                <div class="current-course-body-percent col-md-6">
                                    <div class="ldBar label-center"
                                         data-value="35"
                                         data-preset="circle"
                                         data-transition-in="35"
                                         data-duration="1"
                                         style="width: 60%; height: 60%">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-md-6 mt-1 tile flexImage _anim-items ">
                    <h3 class="tile-title">Courses</h3>
                    <a>
                        <div class="tile-body tile-courses">

                            <div class="tile-courses__hover">
                                <div class="row">
                                    <div class="col-sm-6 mt-1 course-hover">
                                        <h3 class="course-hover__header">Java</h3>
                                        <div class="course-hover__body">
                                            <div class="ldBar label-center"
                                                 data-value="73"
                                                 data-preset="circle"
                                                 data-transition-in="73"
                                                 data-duration="1"
                                                 style="width: 50%; height: 50%">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 mt-1 course-hover">
                                        <h3 class="course-hover__header">Angular</h3>
                                        <div class="course-hover__body">
                                            <div class="ldBar label-center"
                                                 data-value="46"
                                                 data-preset="circle"
                                                 data-transition-in="46"
                                                 data-duration="1"
                                                 style="width: 50%; height: 50%">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="tile-courses__body">
                                <div class="row">
                                    <div class="col-sm-6 mt-1 course">
                                        <h3 class="course__header">Java</h3>
                                        <div class="course__body">
                                            <img src="~/images/JavaLogo.png" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6 mt-1 course">
                                        <h3 class="course__header">Angular</h3>
                                        <div class="course__body">
                                            <img src="~/images/AngularLogo.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

            </div>

            <div class="perfomance-part flexImage _anim-items">
                <div class="chart">
                    <div class="chart-container">
                        <canvas id="perfomanceChart" style="width: 100%; height: 100%">
                        </canvas>
                    </div>
                </div>
            </div>

            <div class="three-options row">
                <div class="challenges-part flexImage _anim-items col-md-4 mt-1">
                    <h3 class="challenges-part__title">Challenges</h3>

                    <div class="challenges-part-body">
                        <div class="challenge">
                            <h3 class="challenge__text">
                                John invited to challenge
                            </h3>
                            <div class="challenge-buttons">
                                <div class="deny-btn">
                                    Deny
                                </div>

                                <a>
                                    <div class="confirm-btn">
                                        Confirm
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="achievments-part flexImage _anim-items col-md-4 mt-1">
                    <ul>
                        <li>
                            
                        </li>
                    </ul>
                </div>

                <div class="posts-part flexImage _anim-items col-md-4 mt-1">
                    <ul>
                        <li>You get 15 likes for your post</li>
                    </ul>
                </div>
            </div>

        </div>
    </main>
    <script type="text/javascript" src="~/js/util/createChartInMain.js"></script>
    <script type="text/javascript" src="~/js/util/burger.js"></script>
    <script type="text/javascript" src="~/js/denyBtnClick.js"></script>
    <script type="text/javascript" src="~/js/util/scrollAnimation.js"></script>
    <script type="text/javascript" src="~/js/denyBtnClick.js"></script>
     <script src="~/js/demo-2.js"></script>
</body>


</html>  