<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    

    <link rel="stylesheet" type="text/css" href="~/css/loading-bar.min.css" />
    <script src="~/js/loading-bar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Main.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>

                        <li>
                            <a href="News.html" class="header__link">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <main>
        <div class="content">
            <div class="main">
                <div class="row">
                    <div class="col-md-6 mt-1 fixedCard">
                        <div class="card mb-3">
                            <h1 class="titleText">Leaderboard</h1>


                            <div class="card-body">
                                <ul class="leaderboard">
                                    <li><a href="#">1. Andrey Level: 130</a></li>
                                    <li><a href="#">2. Max Level: 112</a></li>
                                    <li><a href="#">3. John Level: 98</a></li>
                                    <li><a href="#">4. Jack Level: 95</a></li>
                                    <li><a href="#">5. Jim Level: 91</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-1 fixedCard">
                        <div class="card mb-3">
                            <h1 class="titleText">Position</h1>


                            <div class="card-body ">
                                <ul class="allUsers">
                                    <li><a href="#">1. Andrey Level: 130</a></li>
                                    <li><a href="#">2. Max Level: 112</a></li>
                                    <li><a href="#" class="myPosition">3. John Level: 98</a></li>
                                    <li><a href="#">4. Jack Level: 95</a></li>
                                    <li><a href="#">5. Jim Level: 91</a></li>
                                    <li><a href="#">5. Helen Level: 89</a></li>
                                    <li><a href="#">5. Chris Level: 87</a></li>
                                    <li><a href="#">5. Mattew Level: 56</a></li>
                                    <li><a href="#">5. Marilyn Level: 43</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row tilesCard">
                    <div class="col-md-4 mt-1 tile">
                        <h3 class="tile-title">Current Course</h3>
                        <div class="tile-body tile-currentCourse">
                            <a>
                                <h3 class="tile-currentCourse__header">Java</h3>
                                <div class="ldBar label-center"
                                     data-value="35"
                                     data-preset="circle"
                                     data-transition-in="35"
                                     data-duration="1"
                                     style="width: 60%; height: 60%">
                                </div>
                            </a>
                            <a>
                                <div class="tile-currentCourse__hover">
                                    <h3>Last lesson: Working with sockets</h3>
                                </div>
                            </a>
                        </div>


                    </div>

                    <div class="col-md-4 mt-1 tile">
                        <h3 class="tile-title">Courses</h3>
                        <a>
                            <div class="tile-body tile-courses">

                                <div class="tile-courses__hover">
                                    <div class="row">
                                        <div class="col-sm-6 mt-1 course-hover">
                                            <h3 class="course-hover__header">Java</h3>
                                            <div class="course-hover__body">
                                                <div class="ldBar label-center"
                                                     data-value="73"
                                                     data-preset="circle"
                                                     data-transition-in="73"
                                                     data-duration="1"
                                                     style="width: 60%; height: 60%">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 mt-1 course-hover">
                                            <h3 class="course-hover__header">Angular</h3>
                                            <div class="course-hover__body">
                                                <div class="ldBar label-center"
                                                     data-value="46"
                                                     data-preset="circle"
                                                     data-transition-in="46"
                                                     data-duration="1"
                                                     style="width: 80%; height: 80%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tile-courses__body">
                                    <div class="row">
                                        <div class="col-sm-6 mt-1 course">
                                            <h3 class="course__header">Java</h3>
                                            <div class="course__body">
                                                <img src="~/images/JavaLogo.png" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 mt-1 course">
                                            <h3 class="course__header">Angular</h3>
                                            <div class="course__body">
                                                <img src="~/images/AngularLogo.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>



                    <div class="col-md-4 mt-1 tile">
                        <h3 class="tile-title">Perfomance</h3>
                        <a>
                            <div class="tile-body tile-perfomance">
                                <h3 class="tile-perfomance__header">Level: 15</h3>
                                <div class="tile-perfomance__body">
                                    <div class="ldBar label-center"
                                         data-value="73"
                                         data-preset="circle"
                                         data-transition-in="73"
                                         data-duration="1"
                                         style="width: 70%; height: 70%">
                                    </div>
                                </div>
                                <h3 class="tile-perfomance__header">XP: 1500</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 mt-1 tile">
                        <h3 class="tile-title">Challenges</h3>


                        <div class="tile-body tile-challenges">
                            <div class="challenge">
                                <h3 class="challenge__text">
                                    John invited to challenge
                                </h3>
                                <div class="challenge__buttons">
                                    <div class="denyBtn">
                                        Deny
                                    </div>

                                    <a>
                                        <div class="confirmBtn">
                                            Confirm
                                        </div>
                                    </a>
                                </div>

                            </div>


                             <div class="challenge">
                                <h3 class="challenge__text">
                                    John invited to challenge
                                </h3>
                                <div class="challenge__buttons">
                                    <div class="denyBtn">
                                        Deny
                                    </div>

                                    <a>
                                        <div class="confirmBtn">
                                            Confirm
                                        </div>
                                    </a>
                                </div>

                            </div>


                             <div class="challenge">
                                <h3 class="challenge__text">
                                    John invited to challenge
                                </h3>
                                <div class="challenge__buttons">
                                    <div class="denyBtn">
                                        Deny
                                    </div>

                                    <a>
                                        <div class="confirmBtn">
                                            Confirm
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 mt-1 tile">
                        <h3 class="tile-title">Posts</h3>
                        <a>
                            <div class="tile-body tile-posts">
                                <div class="tile-posts__hover">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <h1 class="titleText">
                            Top Posts
                        </h1>
                        <div class="card-body ">
                            <div class="newsItem__title">
                                <a href="" class="newsItem__title__body">Example</a>
                            </div>


                            <div class="newsItem__description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, voluptate, cum? Asperiores eaque sunt iure ut quos sapiente amet mollitia optio, pariatur repudiandae repellat illum, ex deleniti, non. Ducimus, minima!</p>
                            </div>

                            <div class="newsItem__image">
                                <img src="../Images/courseSlider.jpg" alt="">
                            </div>

                            <a href="" class="newsItem__button">
                                <span class="newsItem__button__text">View more</span>
                                <span class="newsItem__button__waves"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script type="text/javascript" src="~/js/util/burger.js"></script>
<script type="text/javascript" src="~/js/denyBtnClick.js"></script>
</html>  