<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/css/util/zeroing.css" />
    <link rel="stylesheet" href="~/css/util/fonts.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <link rel="stylesheet" href="~/css/loading-bar.min.css">
    <script src="~/js/loading-bar.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />

@*    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>*@

    <title>Main</title>
</head>

<body>
    <div class="wrapper">
        <header class="header_main">
        <div class="header-container">
            <div class="container__text">Programmania</div>
            <div class="header__burger">
                <span></span>
            </div>
            <div class="container-menu">
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Performance" class="header__link">Performance</a>
                        </li>

                        <li>
                            <a href="Challenges" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile" class="header__link">Profile</a>
                        </li>
                        <li>
                            <div class="btn btn_logout">Log out</div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
        <main class="main">
            <header class="header" style="background-image: url('images/mainHeader.jpg');">
                <div id="nickname" class="header__title">
                    <p> Welcome to Programmania,</p>
                    <p id="nickname"></p>
                </div>
                <a href="#curr-course">
                    <span class="arrowbtn arrowbtn-down"></span>
                </a>

            </header>
            <div class="left-menu">
                <div class="left-menu-content" id="menu-content">

                    <ul>
                        <li>
                            <a href="#curr-course">Current Course</a>
                        </li>
                        <li>
                            <a href="#courses">All Courses</a>
                        </li>
                        <li>
                            <a href="#level">Level</a>
                        </li>
                        <li>
                            <a href="#performance">Performance</a>
                        </li>
                        <li>
                            <a href="#challenges">Challenges</a>
                        </li>
                        <li>
                            <a href="#achievments">Achievments</a>
                        </li>
                        <li>
                            <a href="#news">News</a>
                        </li>
                    </ul>
                </div>

                <div class="left-menu__button" id="hide-btn">
                    <i class="arrow arrow-right" id="arrow"></i>
                </div>
            </div>

            <div class="current-course-container" id="curr-course">
                <h3 class="container__title">Current Course</h3>
                <div id="courseBackground" class="course" style="background-color: #fcc9c0;">

                    <div class="flip flip_right">
                        <div class="flip__front">
                            <img id="courseImage" class="flip__front course__image" src="~/images/rubyCourse.png" />
                        </div>

                        <div class="flip__back">
                            <p id="courseDescription">Welcome to Ruby Course!</p>
                        </div>
                    </div>

                    <div class="course__content">
                        <div class="course__info">
                            <h2 id="courseName" class="course__title title_ruby">Ruby</h2>
                            <div class="course__percent percent_ruby">
                                <div id="courseDiagram" class="ldBar label-center" data-preset="circle" data-value="77"
                                     data-transition-in="1000" style="width: 100%; height: 100%">
                                </div>
                            </div>
                        </div>

                        <div class="course__buttons">
                            <div class="course__button button_ruby">
                                <a id="courseBtn">
                                    Go to course
                                </a>
                            </div>

                            <div class="course__button button_ruby-white">
                                <a id="disciplineBtn">
                                    <div class="current-discipline">
                                        <h3>Current discipline: </h3>
                                        <h3 id="discipline">some discipline</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="courses-container" id="courses">
                <h3 class="container__title">All Courses</h3>


                <div class="swiper">
                    <div class="courses swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="course" style="background-color: #fcc9c0;">
                                    <div class="course__content">
                                        <div class="course__info">
                                            <h2 class="course__title title_ruby">Ruby</h2>
                                            <div class="course__percent percent_ruby">
                                                <div class="ldBar label-center" data-preset="circle" data-value="77"
                                                     data-transition-in="1000" style="width: 100%; height: 100%">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="course__button button_ruby">
                                            <a href="Courses">
                                                Go to course
                                            </a>
                                        </div>
                                    </div>

                                        <div class="flip">
                                            <div class="course__image flip__front">
                                                <img src="~/images/rubyCourse.png" />
                                            </div>

                                        <div class="flip__back">
                                            <p>Welcome to Ruby Course!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="course" style="background-color: #c0f1fc;">
                                    <div class="course__content">
                                        <div class="course__info">
                                            <h2 class="course__title title_cpp">C++</h2>
                                            <div class="course__percent percent_cpp">
                                                <div class="ldBar label-center" data-preset="circle" data-value="77"
                                                     data-transition-in="1000" style="width: 100%; height: 100%">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="course__button button_cpp">
                                            <a href="Courses">
                                                Go to course
                                            </a>
                                        </div>
                                    </div>

                                        <div class="flip">
                                            <div class="course__image flip__front">
                                                <img src="~/images/cppCourse.png"/>
                                            </div>

                                        <div class="flip__back">
                                            <p>Welcome to C++ Course</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="course" style="background-color: #f5e4ff;">
                                    <div class="course__content">
                                        <div class="course__info">
                                            <h2 class="course__title title_php">PHP</h2>
                                            <div class="course__percent percent_php">
                                                <div class="ldBar label-center" data-preset="circle" data-value="77"
                                                     data-transition-in="1000" style="width: 100%; height: 100%">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="course__button button_php">
                                            <a href="Courses">
                                                Go to course
                                            </a>
                                        </div>
                                    </div>

                                        <div class="flip">
                                            <div class="flip__front course__image">
                                                <img src="~/images/phpCourse.jpg" />
                                            </div>

                                        <div class="flip__back">
                                            <p>Welcome to PHP Course</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="level-container" id="level">
                <h3 class="container__title">Level</h3>
                <div class="level">
                    <div class="level-col-1" data-aos="fade-right" data-aos-duration="1000">
                        <div class="level__percent">
                            <div id="levelDiagram" class="ldBar label-center" data-preset="circle" data-value="77" data-transition-in="1000"
                                 style="width: 100%; height: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="level-col-2" data-aos="fade-left" data-aos-duration="1000">
                        <div class="level__text">
                            <h3>Level:</h3>
                            <h3 id="level">32</h3>
                        </div>
                        <div class="level__text">
                            <h3>Experience: </h3>
                            <h3 id="expiriance">32</h3>
                        </div>
                    </div>
                </div>
            </div>




            <div class="performance-container" id="performance">
                <a href="Performance">
                    <div class="btn btn_link btn_link_blue">
                        <div class="btn_link__front">
                            Performance
                        </div>

                        <div class="btn_link__back btn_blue__back">
                            <div class="btn_link__next">
                                <img src="~/images/arrow_next.png" />
                            </div>
                        </div>
                    </div>
                </a>
                <div class="performance" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="chartArea">
                        <div class="chart-container">
                            <canvas id="performanceChart">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>



            <div class="challenges-container" id="challenges">
                <a href="Challenges">
                    <div class="btn btn_link btn_link_red">
                        <div class="btn_link__front">
                            Challenges
                        </div>

                        <div class="btn_link__back btn_red__back">
                            <div class="btn_link__next">
                                <img src="~/images/arrow_next.png" />
                            </div>
                        </div>
                    </div>
                </a>
                <div class="challenges" data-aos="zoom-in" data-aos-duration="1000">

                    <div class="winrate__info">
                        <h3>Games win:</h3>
                        <h3 id="gamesRate">7/10</h3>
                    </div>
                    <div class="swiper">
                        <div id="challanges" class="challenges-swiper swiper-container">
                            
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                </div>
            </div>



            <div class="achievment-container" id="achievments">
                <h3 class="container__title">Achievments</h3>
                <h3 class="dev-text">In development</h3>
            </div>




            <div class="news-container" id="news">
                <div class="container__title">News</div>
                <h3 class="dev-text">In development</h3>
            </div>
        </main>

       
    </div>
     <footer class="footer">
            <div class="footer-links" data-aos="zoom-in" data-aos-duration="700">
                <a href="#" class="footer-links_first">
                    <div class="footer-link__image">
                        <img src="~/images/facebookLogo.png" />
                    </div>
                </a>

                <a href="#">
                    <div class="footer-link__image">
                        <img src="~/images/twitterLogo.png" />
                    </div>
                </a>

                <a href="#">
                    <div class="footer-link__image">
                        <img src="~/images/linkedinLogo.png" />
                    </div>
                </a>
            </div>

            <div class="footer__text" data-aos="zoom-in" data-aos-duration="700">
                <h5>&#x24B8; 2021 Programmania. All rights reserved.</h5>
            </div>
        </footer>


    <script type="text/javascript" src="~/js/elements/challangeItem.js"></script>
    <script type="text/javascript" src="~/js/elements/courseItemMain.js"></script>
    <script type="text/javascript" src="~/js/util/courses-slider.js"></script>
    <script type="text/javascript" src="~/js/util/news-slider.js"></script>
    <script type="text/javascript" src="~/js/util/challenges-slider.js"></script>
    <script type="text/javascript" src="~/js/util/createChartInMain.js"></script>
    <script type="text/javascript" src="~/js/util/open-menu.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/util/burger.js"></script>
    <script type="text/javascript">
        AOS.init();
    </script>
</body>



