<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="~/css/HamburgerMenu.css">
    <link rel="stylesheet" href="~/css/util/zeroing.css" />
    <link rel="stylesheet" href="~/css/util/forms.css" />
    <link rel="stylesheet" href="~/css/News.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>

                        <li>
                            <a href="News.html" class="header__link">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="main">
                <div class="row"></div>
            </div>
            <div class="card mb-3">
                <h1 class="m-3 titleText">Posts</h1>
                <div class="card-body">
                    <div class="newsItem__title">
                        <a href="" class="newsItem__title__body">Example</a>
                    </div>



                    <div class="newsItem__description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, voluptate, cum? Asperiores eaque sunt iure ut quos sapiente amet mollitia optio, pariatur repudiandae repellat illum, ex deleniti, non. Ducimus, minima!</p>
                    </div>

                    <div class="newsItem__image">
                        <img src="../Images/courseSlider.jpg" alt="">
                    </div>

                    <a href="" class="newsItem__button">
                        <span class="newsItem__button__text">View more</span>
                        <span class="newsItem__button__waves"></span>
                    </a>
                </div>

            </div>
        </div>
    </main>

    <footer class="footer">
            <div class="footer-links" data-aos="zoom-in" data-aos-duration="700">
                <a href="#" class="footer-links_first">
                    <div class="footer-link__image">
                        <img src="~/images/facebookLogo.png" />
                    </div>
                </a>

                <a href="#">
                    <div class="footer-link__image">
                        <img src="~/images/twitterLogo.png" />
                    </div>
                </a>

                <a href="#">
                    <div class="footer-link__image">
                        <img src="~/images/linkedinLogo.png" />
                    </div>
                </a>
            </div>

            <div class="footer__text" data-aos="zoom-in" data-aos-duration="700">
                <h5>&#x24B8; 2021 Programmania. All rights reserved.</h5>
            </div>
    </footer>

    <script type="text/javascript" src="~/js/util/burger.js"></script>
</body>
</html>