<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../Styles/HamburgerMenu.css">
    <link rel="stylesheet" href="../Styles/News.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>

                        <li>
                            <a href="News.html" class="header__link">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="newsItem">
                <div class="newsItem__title">
                    <a href="" class="newsItem__title__body">Example</a>
                </div>



                <div class="newsItem__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, voluptate, cum? Asperiores eaque sunt iure ut quos sapiente amet mollitia optio, pariatur repudiandae repellat illum, ex deleniti, non. Ducimus, minima!</p>
                </div>

                <div class="newsItem__image">
                    <img src="../Images/courseSlider.jpg" alt="">
                </div>

                <a href="" class="newsItem__button">
                    <span class="newsItem__button__text">View more</span>
                    <span class="newsItem__button__waves"></span>
                </a>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../Scripts/burger.js"></script>
</body>
</html>