<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/nice-select2.css" />
    <script src="~/js/nice-select2.js"></script>
    <link rel="stylesheet" href="~/css/Footer.css"/>
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <link rel="stylesheet" href="~/css/Perfomance.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <header class="header">
        <div class="header-container">
            <div class="container__text">Programmania</div>
            <div class="header__burger">
                <span></span>
            </div>
            <div class="container-menu">
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Performance" class="header__link">Performance</a>
                        </li>

                        <li>
                            <a href="Challenges" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile" class="header__link">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
        <main class="main">
             <div class="content">
        <div class="chart card _anim-items flexImage">
            <div class="chartArea">
                <div class="chart-container">
                    <canvas id="performanceChart" style="width: 100%; height: 100%">
                    </canvas>
                </div>
            </div>

            <div class="chart-arrows">
                <div class="chart-arrow-left">
                </div>

                <div class="chart-arrow-right">
                </div>
            </div>
        </div>

        <div class="history card _anim-items flexImage">
            <h3 class="history-title">History</h3>
            <select class="wide" id="chart-type">
                <option selected="selected">Day</option>
                <option>Week</option>
                <option>Month</option>
            </select>
            <select class="wide" id="load-count">
                <option selected="selected">10</option>
                <option>25</option>
                <option>50</option>
                <option>70</option>
            </select>
            <div id="history_day" class="history__day">

                <button id="chart-more" class="btn btn-primary show-more__btn">Show More -></button>


            </div>
        </div>
    </div>
        </main>

        <footer class="footer">
            <div class="footer-links" data-aos="zoom-in" data-aos-duration="700">
                <a href="#" class="footer-links_first">
                    <div class="footer-link__image">
                        <img src="~/images/facebookLogo.png" />
                    </div>
                </a>

                <a href="#">
                    <div class="footer-link__image">
                        <img src="~/images/twitterLogo.png" />
                    </div>
                </a>

                <a href="#">
                    <div class="footer-link__image">
                        <img src="~/images/linkedinLogo.png" />
                    </div>
                </a>
            </div>

            <div class="footer__text" data-aos="zoom-in" data-aos-duration="700">
                <h5>&#x24B8; 2021 Programmania. All rights reserved.</h5>
            </div>
    </footer>
    </div>
   

    <script type="text/javascript" src="~/js/util/scrollAnimation.js"></script>
    <script type="text/javascript" src="~/js/elements/rewards.js"></script>
    <script type="text/javascript" src="~/js/performance.js"></script>
    <script type="text/javascript" src="~/js/util/burger.js"></script>

    <script type="text/javascript">
        NiceSelect.bind(document.getElementById("chart-type"));
        NiceSelect.bind(document.getElementById("load-count"));

    </script>
</body>
</html>

