@using Programmania.ViewModels;
@model Programmania.ViewModels.UserProfileVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="~/css/components/modal.css" />
    <link rel="stylesheet" href="~/css/HamburgerMenu.css" />
    <link rel="stylesheet" href="~/css/loading-bar.min.css">
    <link rel="stylesheet" href="~/css/profile.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <script src="~/js/loading-bar.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/util/burger.js"></script>
</head>

<body>

    <main class="content">
        <div class="profile">
            <div class="profile-col-1">
                <div class="profile__image">
                    <img id='profileImage' src="images/avatarImg.png" alt="">
                    <input id="profileImageInput" type="file" style="display:none" />
                </div>

                <div class="profile-info">
                    <div class="profile-info__item">
                        <h3>Username:</h3>
                        <p>JohnJohnson123</p>
                    </div>
                    <hr />

                    @if (Model.IsOwned)
                    {
                        <div class="profile-info__item">
                            <h3>Email:</h3>
                            <p>John123@gmail.com</p>
                        </div>
                        <hr />

                        <button id="enterProfileModal" class="btn btn-primary profile-info__change">Change profile data</button>
                    }
                </div>
            </div>

            <div class="profile-col-2">
                <h1 class="profile__name">JohnJohnson123</h1>

                <div class="level">
                    <div class="level__percent">
                        <div class="ldBar label-center" data-preset="circle" data-value="30" data-transition-in="1000"
                             style="width: 100%; height: 100%;"></div>
                    </div>

                    <div class="level__content">Level: 12</div>
                </div>

                <div class="tabs-container">
                    <div class="tab">
                        <button class="tablinks" onclick="openContent(event, 'userInfo')">User info</button>
                        <button class="tablinks" onclick="openContent(event, 'games')">Games</button>
                        <button class="tablinks" onclick="openContent(event, 'achievments')">Achievments</button>
                    </div>

                    <!-- Tab content -->
                    <div id="userInfo" class="tabcontent">
                        <div class="profile-info">
                            <div class="profile-info__item">
                                <h3>XP:</h3>
                                <p>3500</p>
                            </div>
                            <hr />
                            <div class="profile-info__item">
                                <h3>Courses ended:</h3>
                                <p>3</p>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div id="games" class="tabcontent">
                        <div class="profile-info">
                            <div class="profile-info__item">
                                <h3>Games played:</h3>
                                <p>13</p>
                            </div>
                            <hr />
                            <div class="profile-info__item">
                                <h3>Games wins:</h3>
                                <p>7</p>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div id="achievments" class="tabcontent">

                    </div>
                </div>
            </div>
        </div>

        @if (Model.IsOwned)
        {
            <div class="modal" id="profileModal">
                <div class="modal-content" style="width: 500px">
                    <span id="closeProfileModal" class="close">&times;</span>

                    <form name="loginForm" id="loginForm">
                        <div class="form-group">
                            <label id="nicknameLabel" class="modal__label">Nickname: </label>
                            <input id="nicknameInput" class="form-control modal__input" placeholder="nickname" />
                        </div>

                        <div class="form-group">
                            <label id="fileLabel" class="modal__label">Avatar: </label>
                            <input id="fileInput" class="form-control" />
                        </div>

                        <input type="button" id="profileChangeBtn" class="btn btn-success modal__close" value="Change" />
                    </form>
                </div>
            </div>
        }
    </main>

    <script src="~/js/util/tabs.js"></script>
    <script src="~/js/util/openModal.js"></script>
    <script src="~/js/util/cropImage.js"></script>
    <script src="~/js/profile.js"></script>
</body>

</html>