<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../Styles/HamburgerMenu.css">
    <link rel="stylesheet" href="../Styles/Profile.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="../Scripts/jQuery-plugin-progressbar.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="Main.html" class="header__link">Main</a>
                        </li>

                        <li>
                            <a href="Courses.html" class="header__link">Courses</a>
                        </li>

                        <li>
                            <a href="Codes.html" class="header__link">Codes</a>
                        </li>

                        <li>
                            <a href="Challenges.html" class="header__link">Challenges</a>
                        </li>

                        <li>
                            <a href="Profile.html" class="header__link">Profile</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="profile">


                <div class="profile__view">
                    <div class="profile__view__image">
                        <img src="../Images/avatarImg.png" alt="">
                    </div>

                    <a href="" class="profile__view__button">
                        <span class="profile__view__button__text">Change avatar</span>
                        <span class="profile__view__button__waves"></span>
                    </a>

                    <div class="profile__view__rewards">
                        <div class="profile__view__xp">

                            <div class="profile__view__xp__body">
                                <p>12132</p>
                            </div>
                            <div class="profile__view__xp__image">
                                <img src="../Images/xpImg.png" alt="">
                            </div>


                        </div>

                        <div class="profile__view__level">
                            <h3>Level: 15</h3>
                        </div>

                        <div class="profile__view__codes">
                            <h3>Codes posted: 3</h3>
                        </div>
                    </div>
                </div>

                <div class="profile__info">
                    <div class="profile__info__xp">
                        <div class="profile__info__xp__body">
                            <h3>Progress</h3>
                        </div>
                        <div class="profile__info__xp__graphic">
                            <div class="progress-bar" data-percent="80" data-duration="1000" data-color="#a1a7ff,#ffd45f"></div>
                        </div>
                        <div class="profile__info__xp__level">
                            <h3>Level: 15</h3>
                        </div>
                    </div>

                    <div class="profile__info__body">
                        <div class="profile__info__body__text">
                            <h3>Name: </h3>
                            <p>John</p>
                        </div>

                        <div class="profile__info__body__text">
                            <h3>Surname: </h3>
                            <p>Johnson</p>
                        </div>

                        <div class="profile__info__body__text">
                            <h3>Age: </h3>
                            <p>23</p>
                        </div>

                        <div class="profile__info__body__text">
                            <h3>Courses completed: </h3>
                            <p>5</p>
                        </div>
                    </div>
                </div>






                <div class="profile__activity">
                    <div class="profile__activity__challenges">
                        <div class="titleActivity">
                            <div class="titleActivity__image">
                                <img src="../Images/ChallengeImg.png" alt="">
                            </div>
                            <div class="titleActivity__body">
                                Challenges
                            </div>
                        </div>
                    </div>

                    <div class="profile__activity__courses">
                        <div class="titleActivity">
                            <div class="titleActivity__image">
                                <img src="../Images/CoursesImg.png" alt="">
                            </div>
                            <div class="titleActivity__body">
                                Courses
                            </div>
                        </div>
                    </div>

                    <div class="profile__activity__codes">
                        <div class="titleActivity">
                            <div class="titleActivity__image">
                                <img src="../Images/CodesImg.png" alt="">
                            </div>
                            <div class="titleActivity__body">
                                Codes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="../Scripts/burger.js"></script>

    <script type="text/javascript" src="../Scripts/roundedProgressBar.js"></script>

</body>
</html>