body {
    background-color: #313131;
}

p {
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error__description {
    float: left;
}

.error__msg {
    font-size: 40px;
    text-align: center;
}

.error__msg_small {
    font-size: 30px;
    text-align: center;
}

.main__btn {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.error__img {
    float: right;
    max-width: 600px;
}

    .error__img img {
        width: 100%;
    }
