/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul-li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

body {
    margin-top: 20px;
    background-color: #defafa;
    font-family: "mainFont";
}

.content {
    padding: 10% 5%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    padding: 50px;
}

.row {
    margin-top: 50px;
}

.titleText {
    font-size: 40px;
}

.card-body {
    font-size: 20px;
}


.fixedCard {
    max-height: 500px;
    overflow: scroll;
}

.gameResult__btn {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 32px;
}

.gameResult__btn__win {
    color: green;
}

.gameResult__btn__lose {
    color: #ad0000;
}

.gameResult__btn:after {
    content: '\02795';
    font-size: 15px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796';
}

.active .gameResult:hover {
    background-color: #ccc;
}

.gameResult__content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease 0s;
    font-family: "mainFont";
    font-size: 30px;
}

.personalStates {
    font-size: 30px;
    color: #2b0053;
    letter-spacing: 3px;
}

@media(max-width: 320px) {
    .content {
        padding: 10% 2%;
    }

    .card {
        padding: 20px;
    }
}
