/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul-li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/
@font-face {
    font-family: monsterrat-thin;
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: monsterrat-light;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: monsterrat-normal;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: monsterrat-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

body {
}

.header-text {
    background-color: #64bcff;
    height: 155px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.header-text h3 {
    color: white;
    text-shadow: rgb(255 255 255 / 60%) 1px 1px 1px, rgb(0 0 0 / 60%) -1px -1px 1px;
    font-size: 4em;
    font-family: monsterrat-bold;
    font-weight: 700;
}

.content {
    padding: 0 10%;
    height: 100%;
}

.courses {
    margin-top: 20px;
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    justify-content: left;
    flex-flow: row wrap;
    align-items: center; 
}

.course {
    flex: 1 0 25%;
    width: 350px;
    height: auto;
    border: 1px solid #66a8ff;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px 4px rgba(174, 174, 192, 0.3), 0px 4px 12px 2px rgba(174, 174, 192, 0.3) !important;
}

.course_selected {
    background-color: #efefef;
}

.course__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.course__image:before,
.course__image:after {
    content: "";
    position: absolute;
    z-index: -2;
}

    .course__image img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

.course-content {
    padding: 20px;
    height: auto;
}

.course__title {
    font-family: monsterrat-bold;
    text-align: center;
    font-size: 1.8em;
    font-family: "monsterrat-bold";
    margin-top: 10px;
}

.course__info {
    text-align: center;
    font-size: 1.5em;
    font-family: "monsterrat-light";
}

.course__percent {
    width: 150px;
    margin: 0 auto;
    height: 150px;
}

/*Progress bar*/
.ldBar {
    margin: auto;
}

.ldBar path.mainline {
    stroke-width: 8;
    stroke: #66a8ff;
    stroke-linecap: round;
}

.ldBar path.baseline {
    stroke-width: 5;
    stroke: #d6d6d6;
    stroke-linecap: round;
}

.ldBar-label {
    font-family: monsterrat-normal;
    font-size: 2em;
    color: #66a8ff;
    text-align: center;
}


.lifted {
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.lifted:before,
.lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.lifted:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

@media(max-width: 1040px) {
    .courses {
        justify-content: center;
    }

    .course {
        margin-left: 0;
    }

    .header-text{
        height: 100px;
    }
}

@media(max-width: 390px) {
    .course {
        width: 300px;
    }
}

@media(max-width: 300px) {
    .course {
        width: 250px;
    }
}