/*Обнуление*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{
    outline: none;
}

a:focus, a:active{
    outline: none;
}

nav,footer,header,aside{
    display: block;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}

button{
    cursor: pointer;
}

button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

a, a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul-li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/
@font-face{
    font-family: 'mainFont';
    src: url("../Fonts/Font2.ttf");
}

body {
    margin-top: 20px;
    background-color: #defafa;
}

.content {
    padding: 10% 5%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    padding: 30px;
}

/*courses*/
.coursesList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coursesList__item {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid #2b0053;
    border-radius: 25px;
    width: 300px;
    height: 450px;
    flex: 0 0 auto;
    position: relative;
    transition: all 0.3s ease 0s;
}

.coursesList__item__hover{
    position: absolute;
    display: inline;
    top: 0;
    background-color: rgba(43, 0, 83,0.5);
    width: 100%;
    height: 0;
    opacity: 0;
    border: 1px solid #2b0053;
    border-radius: 25px;

    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s ;
}



.coursesList__item__footer h3 {
    text-decoration: none;
    margin-top: 20px;
    color: #2b0053;
    text-align: center;
    font-size: 2.2vh;
}

.coursesList__item:hover .coursesList__item__hover {
    opacity: 1;
    height: 100%;
    animation-name: courseHover;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;

}


.coursesList__item:first-child{
    margin-left: 0;
}

.coursesList__item__image {
    width: 170px;
    margin: 0 auto;
}

.coursesList__item__image img{
    max-width: 100%;
}

.courseList__item__footer {
    position: absolute;
    bottom: 0;
}

.coursesList__item__body h3 {
    font-size: 4vh;
    color: #2b0053;
    text-align: center;
}
.coursesList__item__body__content {
    font-size: 24px;
    line-height: 20px;
    font-family: "mainFont";
    color: #2b0053 ;
}

.ldBar{
    margin: 0 auto;
}

.ldBar path.baseLine {
    stroke-width: 7;
    stroke: #3c007d;
    stroke-linecap: round;
}

.ldBar path.mainLine {
    stroke-width: 5;
    stroke: #ffe959;
    stroke-linecap: round;
}


.ldBar-label {
    font-size: 4vh;
    color: #5c00a3;
    font-weight: 700;
}

@keyframes courseHover {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes courseHover {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@-moz-keyframes courseHover {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@-o-keyframes courseHover {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@media(max-width: 1024px) {
    .content{
        padding: 50px;
    }
}

@media(max-width: 500px) {
    .coursesList__item{
        width: 200px;
    }
    .coursesList__item__image {
        width: 120px;
    }
}

@media(max-width: 320px) {
    .coursesList__item{
        width: 150px;
    }
}

@media(max-height: 400px) {
    .coursesList__item{
        height: 300px;
    }

    .coursesList__item:hover .coursesList__item__hover{
    opacity: 1;
    width: 300px;
    height: 300px;
    color: #ffd45f;
    }
}