* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: rgb(191,237,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(191,237,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.back {
    border: 40px solid transparent;
    border-right: 40px solid #00516b;
    transition: all 0.5s ease 0s;
}

    .back:hover {
        border-right: 40px solid #0fa2d1;
        cursor: pointer;
    }

.header-text {
    background: #c9f0ff;
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .header-text h3 {
        color: #00516b;
        text-shadow: rgb(255 255 255 / 60%) 1px 1px 1px, rgb(0 0 0 / 60%) -1px -1px 1px;
        text-align: center;
        vertical-align: middle;
        line-height: 155px;
        font-size: 5vh;
        font-family: montserrat, sans-serif;
        font-weight: 700;
    }

.content {
    padding: 0 10%;
    height: 100%;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.course__image-container {
    padding: 0 25%;
}

.course__img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    transform: skew(-10deg, 0) !important;
    box-shadow: 4px 4px 4px 7px #999;
}

    .course__img img {
        height: 100%;
        width: 100%;
    }

.disciplines {
    margin-top: 20px;
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    justify-content: left;
    flex-flow: row wrap;
    align-items: center;
}

.discipline {
    flex: 1 0 25%;
    max-width: 350px;
    height: auto;
    border: 1px solid #66a8ff;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 1vw;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
    background: rgb(202,248,255);
    background: linear-gradient(0deg, rgba(202,248,255,1) 0%, rgba(207,202,255,1) 100%);
    box-shadow: 0px 8px 24px 4px rgba(174, 174, 192, 0.3), 0px 4px 12px 2px rgba(174, 174, 192, 0.3) !important;
}

    .discipline:hover {
        opacity: 0.7;
        transform: scale(1.1);
        cursor: pointer;
    }

.discipline_selected {
    background-color: rgb(182, 174, 174);
}

.dark-image {
    filter: brightness(50%);
}

.discipline__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .discipline__image:before,
    .discipline__image:after {
        content: "";
        position: absolute;
        z-index: -2;
    }

    .discipline__image img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


.discipline-content {
    padding: 20px;
    height: auto;
}

.discipline__title {
    text-align: center;
    font-size: 3vh;
    font-family: "monsterrat-bold";
    margin-top: 10px;
}

.discipline__info {
    text-align: center;
    font-size: 2.5vh;
    font-family: "monsterrat-light";
}

.discipline__percent {
    width: 150px;
    margin: 0 auto;
    height: 150px;
}

.discipline__img {
    width: 100%;
    height: 600px;
}

    .discipline__img img {
        width: 100%;
        height: 100%;
    }

/*Progress bar*/
.ldBar {
    margin: 0 auto;
    margin-top: 30px;
}

    .ldBar path.mainline {
        stroke-width: 8;
        stroke: #66a8ff;
        stroke-linecap: round;
    }

    .ldBar path.baseline {
        stroke-width: 5;
        stroke: #f3f3f3;
        stroke-linecap: round;
    }

.ldBar-label {
    font-size: 3vh;
    color: #66a8ff;
    text-align: center
}


@media(max-width: 935px) {
    .course__img {
        height: 300px;
    }

    .desciplines {
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .course__image-container {
        padding: 0 10%;
    }

    .course__img {
        height: 200px;
    }
}
