* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #FCE78D;
}

.back {
    border: 40px solid transparent;
    border-right: 40px solid #ffe670;
    transition: all 0.5s ease 0s;
}

    .back:hover {
        border-right: 40px solid #fff3b8;
        cursor: pointer;
    }

.header-text {
    background-color: rgb(78, 67, 15);
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .header-text h3 {
        color: white;
        text-shadow: rgb(255 255 255 / 60%) 1px 1px 1px, rgb(0 0 0 / 60%) -1px -1px 1px;
        text-align: center;
        vertical-align: middle;
        line-height: 155px;
        font-size: 5vh;
        font-family: montserrat, sans-serif;
        font-weight: 700;
    }

.content {
    padding: 10px;
    width: 70%;
    margin: auto;
}

.course__img {
    width: 100%;
    height: 40%;
}

    .course__img img {
        width: 100%;
        height: 100%;
    }

.desciplines {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: space-around;
    flex: 1 1 33.33%;
    flex-direction: row;
    flex-wrap: wrap;
}

.descipline {
    margin-top: 20px;
    position: relative;
    height: 520px;
    width: 370px;
    border: 0.5px solid #fff;
    background-color: #4E430F;
}

.subject {
    width: 100%;
    height: auto;
}

.subject-text {
    text-align: center;
    color: white;
    text-shadow: rgb(255 255 255 / 60%) 1px 1px 1px, rgb(0 0 0 / 60%) -1px -1px 1px;
    font-size: 30px;
    padding: 5px;
}

.subject__img {
    width: 100%;
    height: auto;
}

    .subject__img img {
        width: 100%;
        height: auto;
    }

.diagramm__body {
    width: 100%;
    height: auto;
}

.ldBar {
    margin: auto;
    margin-top: -30px;
}

    .ldBar path.mainline {
        stroke-width: 8;
        stroke: #faf17c;
        stroke-linecap: round;
    }

    .ldBar path.baseline {
        stroke-width: 5;
        stroke: #fdffc9;
        stroke-linecap: round;
    }

.ldBar-label {
    font-size: 3vh;
    color: #faf17c;
}

.lesson-count {
    width: 100px;
    height: auto;
}

.lesson-count__text {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 20px;
    height: auto;
}
