*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{
    outline: none;
}

a:focus, a:active{
    outline: none;
}

nav,footer,header,aside{
    display: block;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}

button{
    cursor: pointer;
}

button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

a, a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul-li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}

.error {
    padding-left: 20px;
    color: red;
    font-size: 20px;
    text-align: end;
}


@font-face{
    font-family: 'mainFont';
    src: url("../Fonts/Font2.ttf");
}

body{
    font-family: 'mainFont';

}

.image-slider{
    max-height: 500px;
}

.swiper-container{
    width: 100%;
    height: 100%;
}
.xop-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #2b0053;
    margin: 20px;
    position: relative;
}

.xop-box a{
    text-decoration: none;
    color: #a1a7ff;
    transition: color 0.3s ease-in-out;
}
.xop-box a:hover{
    color: #ffd45f;
}
.xop-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
}
.xop-info-title {
    font-size: 2.7vh;
    background-color: #2b0053; 
    width: 300px;
    text-align: center;
}
.xop-info-image-courses {
    width: 300px;
    height: 200px;
    background: url("../images/courseSlider.jpg");
    background-size: cover;
}

.xop-info-image-register {
    width: 300px;
    height: 200px;
    background: url("../images/registerImg.jpg");
    background-size: cover;
}

.xop-info-image-login {
    width: 300px;
    height: 200px;
    background: url("../images/loginImg.jpg");
    background-size: cover;
}

.modal{
    padding: 10%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.4);
}

.modal-content{
    font-family: 'mainFont';
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    padding: 1% 2%;
    font-size: 3vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close{
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#registerForm label, #loginForm label{
    margin-top: 20px;
    font-size: 3vh;
}

#registerForm input, #loginForm input{
    margin-top: 10px;
    font-size: 2.5vh;
}

#registerBtnOut, #loginBtnOut{
    margin: 30px;
    float: right;   
}







.headerNav{
    background-color: #2b0053;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 2rem;
    padding: 0 2rem;
}

.headerNav ul{

    margin: 0;
    margin-left: 75px;
    padding: 0;
    list-style: none;
}

.headerNav ul li{

    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.headerNav ul li a{
    font-family: 'mainFont';
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #a1a7ff;
    text-decoration: none;
    position: relative;
    font-size: 2.5vh;
}

.headerNav ul li a:before{
    content: attr(text);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #ffd45f;
    transform: rotateX(-270deg);
    transform-origin: top;
    transition: 0.5s;
    color: #2b0053;
}

.headerNav ul li a:hover:before{
    transform: rotateX(0deg);
}



section{
    font-family: "MainFont";
    color: #2b0053;
}

.flexRow-1{
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    background-color: #a1a7ff;
}

.flexRow-2{
    display: flex;
    padding: 50px 0;
    justify-content: space-between;

    padding: 20px;
}

.flexImage {
    transform: scale(0);
    transition: all 0.8s ease 0s;
}

.flexImage._active{
    transform: scale(1);
}

.flexImage img{
    margin:0 20px;
    width: 600px;
    height: 400px;

}
.flexTitle{
    font-size: 5vh;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.flexTitle._active{
    transform: translate(0px,0px);
    opacity: 1;
}

.flexText{
    overflow: hidden;
}

.flexText p{
    font-size: 3vh;
}

.anim_show{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.anim_show._active,
._active .anim_show{
    opacity: 1;
    transform: translate(0px, 0px);
}

.swiper-scrollbar{
    height: 10px;
}

.mainMenu {
    padding: 20px;
    background-color: #31015D;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-around;
}

@media screen and (max-width: 1100px) {
    .flexRow-1, .flexRow-2 {
        flex-direction: column;
    }
    .flexImage img{
        max-width: 900px;
        width: 100%;
        height: auto;
    }

}

@media(max-width: 1000px) {
    #loginDiv{
        margin-top: 30px;
    }
}

@media(max-width: 750px) {
    .xop-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }

    .xop-box{
        margin-top:30px;
    }

}

@media(max-width: 600px) {
    
}

@media(max-width: 430px) {
    .headerNav ul li a {
        width: 200px;
        height: 100px;
    }
}

@media(max-width: 360px) {
    .xop-section {
        flex-direction: column;
    }

    .headerNav ul {
        margin-left: 40px;
    }
}