

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 4em;
    margin: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    display: inline-block;
}

.arrowbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #66a8ff;
    border-radius: 50%;
    color: #66a8ff;
    cursor: pointer;
    left: 50%;
    line-height: 100px;
    margin-left: -50px;
    transition: all 0.5s ease 0s;
    animation: arrow-anim 10s ease 0s;
    animation-iteration-count: infinite;
}

@keyframes arrow-anim {
    0% {
        bottom: 150px;
    }

    50% {
        bottom: 250px;
    }

    100% {
        bottom: 150px;
    }
}

.arrowbtn:hover {
    background: #66a8ff;
    border-color: #66a8ff;
    color: #fff;
}

.arrowbtn::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 12.5px;
    height: 12.5px;
    top: 50%;
    left: 50%;
}

.arrowbtn-down {
    bottom: 150px;
}

    .arrowbtn-down::after {
        margin-left: -6px;
        margin-top: -10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotateZ(45deg);
    }

.left-menu {
    position: fixed;
    height: 450px;
    margin-top: 40vh;
    width: auto;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: none !important;
}

.left-menu__button {
    width: 30px;
    height: auto;
    background-color: #d6bdff;
    transition: all 0.3s ease 0s;
    z-index: 2;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    vertical-align: middle;
    padding: 0 10px;
    opacity: 0.5;
}

    .left-menu__button:hover {
        background-color: #b488fc;
        cursor: pointer;
    }

.left-menu-content {
    display: none;
    padding: 10px;
    background-color: #e6efff;
}

    .left-menu-content.active {
        display: block;
    }

    .left-menu-content ul {
        list-style: none;
    }

    .left-menu-content li {
        margin-top: 30px;
        font-size: 1.7em;
        font-family: "monsterrat-light";
    }

        .left-menu-content li a {
            color: black;
            transition: all 0.5s ease 0s;
        }

            .left-menu-content li a:hover {
                color: #0083ab !important;
                font-size: 1.3em;
            }

.arrow {
    border: solid #007a21;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 200px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.current-course-container {
    min-height: 300px;
    margin: 0;
    padding: 50px 0;
}

.container__title {
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    font-family: "monsterrat-thin";
    margin-bottom:20px;
}

.title_link {
    display: block;
    color: #31adeb !important;
    transition: all 0.3s ease 0s !important;
}
    .title_link:hover {
        color: #1752b3 !important;
        font-weight: 900;
    }

.current-course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 400px;
}

.current-course__image {
    width: 250px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.current-course__title,
.course__title {
    text-align: center;
    font-size: 1.8em;
    font-family: "monsterrat-bold";
    margin-top: 10px;
}

.current-course__info,
.course__info {
    text-align: center;
    font-size: 1.5em;
    font-family: "monsterrat-light";
}

.current-course__percent {
    width: 250px;
    height: 250px;
}

    .current-course__percent .ldBar path.mainline,
    .course__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #66a8ff;
    }

    .current-course__percent .ldBar path.baseline,
    .course__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .current-course__percent .ldBar-label,
    .course__percent .ldBar-label {
        font-size: 2em;
        color: #66a8ff;
    }

.current-course__button {
    font-family: monsterrat-light;
    min-height: 20px;
    width: 500px;
    padding: 20px;
    font-size: 1.8em;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.5s ease 0s !important;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: #66a8ff;
    color: #fff;
}

    .current-course__button:hover,
    .course__button:hover,
    .challenge__button_accept:hover,
    .challenge__button_create:hover,
    .news__button:hover {
        opacity: 0.7;
        box-shadow: 2px 2px 2px #999;
    }

.courses-container {
    min-height: 300px;
}




.swiper-wrapper{
    height: auto !important;
}

body {
    perspective: 800px;
}

.course {
    display: flex;
    flex-direction: row;
    padding: 150px;
    align-items: center;
    justify-content: space-between;
}

.course__content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.course__info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.course__title {
    font-size: 5em;
}

.title_ruby {
    color: #971b1b;
}

.title_cpp {
    color: #1b9397;
}

.title_php {
    color: #6a1b97;
}

.course__percent {
    margin-left: 150px;
    width: 200px;
    height: 200px;
}

.ldBar path.baseline {
    stroke-width: 6;
    stroke: #f0f0f0;
}

.percent_ruby .ldBar path.mainline {
    stroke-width: 6;
    stroke: #971b1b;
}

.percent_ruby .ldBar-label {
    font-size: 3em;
    color: #971b1b;
}

.percent_cpp .ldBar path.mainline {
    stroke-width: 6;
    stroke: #1b8f97;
}

.percent_cpp .ldBar-label {
    font-size: 3em;
    color: #1b8997;
}

.percent_php .ldBar path.mainline {
    stroke-width: 6;
    stroke: #6a1b97;
}

.percent_php .ldBar-label {
    font-size: 3em;
    color: #6a1b97;
}

.course__button {
    margin: 0 auto;
    width: 500px;
    height: auto;


    padding: 10px;
    text-align: center;
    border-radius: 40px;
    margin-top: 100px;
    transition: all 0.3s ease 0s;
}

    .course__button a {
        font-size: 3em;
        color: #fff !important;
    }

    .course__button:hover {
        opacity: 0.7;
        box-shadow: 3px 3px 3px 3px #999;
    }

.button_ruby {
    background-color: #bd2626;
}

.button_cpp {
    background-color: #268bbd;
}

.button_php {
    background-color: #6a1b97;
}

.course__image {
    box-shadow: 8px 8px 40px 10px #999;
    width: 100%;
    max-height: 400px;
}

.course__image img{
    width: 100%;
    height: 100%;
}

.flip {
    margin-left: 50px;
    width: 50%;
    height: 400px;
    transform: skew(-10deg, 0);
    transition: all 0.3s ease 0s;
    position: relative;
}
.flip_right {
    transform: skew(10deg, 0) !important;
    height: 400px;
    width: 40%;
}

.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    background: #fff !important;
    border: 2px solid #66a8ff !important;
    border-radius: 50% !important;
    color: #66a8ff !important;
    cursor: pointer !important;
    line-height: 100px !important;
    transition: all 0.5s ease 0s !important;
}
    .swiper-button-prev:hover {
        background: #66a8ff !important;
        border-color: #66a8ff !important;
        color: #fff !important;
    }
    .swiper-button-prev::after {
        position: absolute !important;
        display: inline-block !important;
        content: "" !important;
        width: 12.5px !important;
        height: 12.5px !important;
        top: 50% !important;
        left: 50% !important;
        margin-left: -6px !important;
        margin-top: -6px !important;
        border-bottom: 2px solid !important;
        border-right: 2px solid !important; 
        transform: rotateZ(135deg) !important;
    }

.swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    background: #fff !important;
    border: 2px solid #66a8ff !important;
    border-radius: 50% !important;
    color: #66a8ff !important;
    cursor: pointer !important;
    line-height: 100px !important;
    
    transition: all 0.5s ease 0s !important;
}
    .swiper-button-next:hover {
        background: #66a8ff !important;
        border-color: #66a8ff !important;
        color: #fff !important;
    }
    .swiper-button-next::after {
        position: absolute !important;
        display: inline-block !important;
        content: "" !important;
        width: 12.5px !important;
        height: 12.5px !important;
        top: 50% !important;
        left: 50% !important;
        margin-left: -10px !important;
        margin-top: -6px !important;
        border-bottom: 2px solid !important;
        border-right: 2px solid !important;
        transform: rotateZ(-45deg) !important;
    }

.flip__front {
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
}

.flip__back {
    background-color: #fff;
    width: 100%;
    height: 100% !important;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 8px 8px 40px 10px #999;
    transition: all 0.3s ease 0s;
    padding: 50px;
    opacity: 0.5;
}

    .flip__back p {
        font-size: 3em;
    }

.flip:hover .flip__front {
    transform: rotateY(180deg);
}

.flip:hover .flip__back {
    transform: rotateY(360deg);
}

.level-container {
    background-color: #f7fff9;
    min-height: 300px;
    padding: 50px;
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 400px;
}

.level__title {
    margin-top: 50px;
    font-size: 2.8em;
    font-family: "monsterrat-bold";
    color: #00c738;
}

.level__percent {
    width: 250px;
    height: 250px;
}

    .level__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #00c738;
    }

    .level__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .level__percent .ldBar-label {
        font-size: 1.8em;
        font-family: "monsterrat-light";
        color: #00c738;
    }

.level__info {
    font-size: 1.7em;
    color: #00c738;
    font-family: "monsterrat-light";
    margin-top: 100px;
}

.level__xp {
    color: #00c738;
    font-family: "monsterrat-light";
    font-size: 1.7em;
    text-align: center;
    margin-top: 30px;
}

.performance-container {
    margin-top: 50px;
    min-height: 500px;
}

.performance {
    padding: 50px 200px;
}

#performanceChart {
    width: 100% !important;
    height: 500px !important;
}

.challenges-container {
    min-height: 300px;
    background-color: #fffafa;
    padding: 50px 0;
}


.challenges {
    padding: 0;
}

.challenge__info{
    margin-top: 10px;
    margin-bottom: 10px;
}

.winrate__percent {
    width: 200px;
    height: 200px;
}

    .winrate__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #ff4f4f;
    }

    .winrate__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .winrate__percent .ldBar-label {
        color: #ff4f4f;
        font-size: 2em;
        font-family: "monsterrat-normal";
    }

.winrate__info {    
    color: #ff4f4f;
    font-size: 2.8em;
    margin-top: 70px;
    text-align: center;
}

.challenge {
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0px 8px 24px 4px rgba(174, 174, 192, 0.3), 0px 4px 12px 2px rgba(174, 174, 192, 0.3) !important;
    position: relative;
}

.challenge-front {
    backface-visibility: hidden;
    transition: all 0.5s ease 0s;
}

.challenge-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease 0s;
    transform: rotateX(180deg);
}
    .challenge-back h3 {
        font-size: 40px;
        text-align: center;
        font-family: monsterrat-bold;
        line-height: 60px;
    }

.challenge-back_create {
    background-color: #bbffba;
    color: #028a00;
}
.challenge-back_accept {
    background-color: #ffbaba;
    color: #8a0000;
}

.challenge:hover .challenge-front{
    transform: rotateX(180deg);
}
.challenge:hover .challenge-back{
    transform: rotateX(360deg);
}


.challenges-swiper {
    padding: 30px;
}

.challenge_create {
    border: 1px solid #98ff94;
    background-color: #98ff94;
}

.challenge__image {
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.challenge__avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

.challenge-content {
    padding: 20px;
    padding-top: 10px;
}

.challenges-swiper > .swiper-button-next {
    color: #ff4f4f !important;
    font-size: 80px !important;
}

.challenges-swiper > .swiper-button-prev {
    color: #ff4f4f !important;
    font-size: 80px !important;
}

.challenge__avatar img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.challenge__username {
    text-align: center;
    color: #002c8a;
    font-family: "monsterrat-normal";
    font-size: 2em;
    margin-top: 50px;
}

.challenge__info {
    text-align: center;
    color: #002c8a;
    font-family: "monsterrat-light";
    font-size: 2.5vh;
    margin-top: 50px;
}

.challenge__button {
    min-height: 30px;
    border-radius: 20px;
    width: auto;
    transition: all 0.5s ease 0s;
    font-family: "monsterrat-light";
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

.challenge__button_accept {
    color: #fff;
    background-color: #fc5858;
}

.challenge__button_create {
    color: #fff;
    background-color: #00ed86;
}

.challenge_accept {
    border: 1px solid #ff9494;
    background-color: #ff9494;
}

.achievment-container {
    min-height: 300px;
    padding: 50px 0;
    margin-top: 10px;
}

.achievment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 400px;
}

.achievment__image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.achievment__name {
    margin-top: 30px;
    text-align: center;
    font-family: "monsterrat-bold";
    font-size: 2em;
    color: #ff9147;
}

.achievment-percent__subtext {
    margin-top: 30px;
    text-align: center;
    font-family: "monsterrat-normal";
    font-size: 1.5em;
    color: #ff9147;
}

.achievment__percent {
    width: 250px;
}

    .achievment__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #ff9147;
    }

    .achievment__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .achievment__percent .ldBar-label {
        color: #ff9147;
        font-family: "monsterrat-light";
        font-size: 2em;
    }

.news-container {
    min-height: 300px;
    background-color: #fdfaff;
    padding: 50px 0;
}

.news {
    padding: 50px;
}

    .news .swiper-button-prev::after,
    .news .swiper-button-next::after {
        color: #530091 !important;
        font-size: 80px;
    }

.news-el {
    width: 350px;
    height: auto;
    padding: 30px;
    border: 1px solid #b34fff;
    border-radius: 40px;
    margin: 0 auto;
}

.news-el-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-el-header__text {
    color: #530091;
    font-family: "monsterrat-bold";
    font-size: 1.8em;
}

.news-el-header__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

    .news-el-header__avatar img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

.news__content {
    font-family: "monsterrat-thin";
    color: #530091;
    font-size: 1.5em;
}

.news__date {
    font-family: "monsterrat-thin";
    color: #530091;
    font-size: 1.3em;
}

.news__button {
    border-radius: 20px;
    padding: 10px;
    width: auto;
    min-height: 30px;
    background-color: #7f00de;
    color: #fff;
    transition: all 0.5s ease 0s;
    font-family: "monsterrat-normal";
    font-size: 2em;
    text-align: center;
}

.btn {
    min-width: 150px;
    max-width: 300px;
    min-height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    font-size: 3em;
    text-align: center;
    font-family: monsterrat-normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 2px 2px 2px 2px #999;
}

.btn_logout{
    margin-top: 0;
    min-height: 30px;
    background-color: #ff4f4f;
    color: #fff;
    font-size: 1.5em;
}


.btn_link {
    position: relative;
    max-width: 500px !important;
    min-height: 80px !important;
    border-radius:20px;
}

.btn_link:hover .btn_link__front{
    transform: rotateX(180deg);
}

.btn_link:hover .btn_link__back{
    transform: rotateX(360deg);
}

.btn_link__front,
.btn_link__back {
    backface-visibility: hidden;
    transition: all 0.5s ease 0s;
}

.btn_link__back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.btn_link__next{
    width: 32px;
    height: 32px;
}

.btn_link__next img{
    width: 100%;
    height: 100%;
}

.btn_link_blue {
    background-color: #badeff;
    color: #00278a;
}

.btn_link_red {
    background-color: #ffbaba;
    color: #8a0000;
}

.btn_blue__back {
    background-color: #99afff;
}

.btn_red__back {
    background-color: #ff9999;
}

.button_ruby-white {
    background-color: #fff;
}


    .button_ruby-white a {
        color: rgb(189, 38, 38) !important;
    }

.level__text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    color: #00c738;
    font-family: monsterrat-normal;
    margin-bottom: 100px;
}
.flip__front{
    width: 100%;
    height: 100%;
}

#expiriance{
    margin-left: 30px;
}

@media (max-width: 1362px) {
    .current-course {
        padding: 50px 200px;
    }

    .level {
        padding: 50px 200px;
    }

    .achievment {
        padding: 50px 180px;
    }

    .course{
        padding: 100px;
    }

    .course__percent{
        margin-left: 50px;
    }

    .course__button{
        width: 350px;
    }
    .course__title{
        font-size: 4em;
    }
}

@media(max-width: 1000px) {
    .course{
        flex-direction: column;
        padding: 10px;
    }
    .course__info{
        width: 100%;
        flex-direction: column;
    }
    .course__content{
        width: 100%;
    }
    .flip{
        margin: 0;
        margin-top: 30px;
        width: 100%;
        height: 400px;
        transform: none !important;
    }
    .flip__back{
        width: auto;
        height: 100%;
        font-size: 10px;
    }
    .course__title{
        text-align: center;
    }
    .course__percent{
        margin: 0;
        margin-top: 20px;
    }
    .course__button{
        margin: 0 auto;
        margin-top: 20px;
        width: auto;
    }
}

@media (max-width: 920px) {
    .current-course {
        padding: 50px 150px;
    }

    .level {
        padding: 50px 150px;
    }

    .achievment {
        padding: 50px 100px;
    }

    .performance {
        padding: 50px 100px;
    }
}

@media (max-width: 800px) {
    .current-course {
        flex-direction: column;
        padding: 10px 30px;
    }

    .current-course__button {
        width: 350px;
        margin-top: 10px;
    }

    .current-course__info{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .level {
        flex-direction: column;
        padding: 50px;
    }

    .level__title {
        text-align: center;
    }

    .level__percent {
        margin: 0 auto;
    }

    .level__info {
        margin-top: 50px;
        text-align: center;
    }

    .achievment {
        flex-direction: column;
    }

    .achievment__image {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .achievment__percent {
        margin: 0 auto;
        width: 200px;
    }
}
.link_active {
    color: #17b34b !important;
}

.dev-text{
    text-align: center;
    font-family: "monsterrat-bold";
    font-size: 4em;
    margin-top: 50px;
}

@media (max-width: 650px) {
    .level__percent {
        width: 200px;
        height: 200px;
    }

    .performance {
        padding: 50px 50px;
    }

    .btn{
        min-width: 100px;
    }
    .btn_logout{
        right: 10px;
        font-size: 1.5em;
    }

    .course__title{
        font-size: 2em;
    }
    .course__percent{
        width: 150px;
        height: 150px;
    }
    .percent_ruby{
        font-size: 0.7em;
    }
    .percent_cpp {
        font-size: 0.7em;
    }
    .percent_php {
        font-size: 0.7em;
    }
    .course__button a{
        font-size: 2em;
    }
    .flip{
        height: 300px;
    }
    .level__text{
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .dev-text{
        font-size: 3em;
    }
    .btn_link{
        margin: 0 20px;
    }
}

@media (max-width: 618px) {
    .challenge {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .level__percent {
        width: 150px;
        height: 150px;
    }

    .challenges-winrate {
        flex-direction: column;
    }

    .winrate__percent {
        margin: 0 auto;
    }

    .winrate__info {
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .current-course__button {
        width: 250px;
    }

    .current-course__percent {
        width: 200px;
        height: 200px;
    }

    .current-course__image {
        width: 200px;
        height: 150px;
    }

    .level {
        padding: 20px;
    }

    .achievment {
        padding: 50px;
    }

    .news-el {
        width: 200px;
    }

    .news-el-header__avatar {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .news-el-header__text {
        text-align: center;
    }

    .news-el-header {
        flex-direction: column;
    }

    .performance {
        padding: 20px;
    }
}

@media (max-width: 340px) {
    .challenge {
        width: 250px;
    }

    .achievment {
        padding: 20px;
    }

    .news-el {
        width: 180px;
        padding: 10px;
    }

    .news__button {
        padding: 2px;
    }
}
