/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none !important;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none !important;
    color: #000 !important;
}

    a:hover {
        text-decoration: none !important;
    }

ul-li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*----------------------------*/

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: monsterrat-thin;
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: monsterrat-light;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: monsterrat-normal;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: monsterrat-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

.header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 5vh;
    margin: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    display: inline-block;
}

.arrowbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #66a8ff;
    border-radius: 50%;
    color: #66a8ff;
    cursor: pointer;
    left: 50%;
    line-height: 100px;
    margin-left: -50px;
    transition: all 0.5s ease 0s;
    animation: arrow-anim 10s ease 0s;
    animation-iteration-count: infinite;
}

@keyframes arrow-anim {
    0% {
        bottom: 150px;
    }

    50% {
        bottom: 250px;
    }

    100% {
        bottom: 150px;
    }
}

.arrowbtn:hover {
    background: #66a8ff;
    border-color: #66a8ff;
    color: #fff;
}

.arrowbtn::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 12.5px;
    height: 12.5px;
    top: 50%;
    left: 50%;
}

.arrowbtn-down {
    bottom: 150px;
}

    .arrowbtn-down::after {
        margin-left: -6px;
        margin-top: -10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotateZ(45deg);
    }

.left-menu {
    position: fixed;
    height: 450px;
    margin-top: 40vh;
    width: auto;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-menu__button {
    width: 30px;
    height: auto;
    background-color: #d6bdff;
    transition: all 0.3s ease 0s;
    z-index: 2;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    vertical-align: middle;
    padding: 0 10px;
    opacity: 0.5;
}

    .left-menu__button:hover {
        background-color: #b488fc;
    }

.left-menu-content {
    display: none;
    padding: 10px;
    background-color: #e6efff;
}

    .left-menu-content.active {
        display: block;
    }

    .left-menu-content ul {
        list-style: none;
    }

    .left-menu-content li {
        margin-top: 30px;
        font-size: 2.5vh;
        font-family: "monsterrat-light";
    }

        .left-menu-content li a {
            color: black;
            transition: all 0.5s ease 0s;
        }

            .left-menu-content li a:hover {
                color: #0083ab !important;
                font-size: 3vh;
            }

.arrow {
    border: solid #007a21;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 200px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.current-course-container {
    background-color: #f5faff;
    min-height: 300px;
    margin: 0;
    padding: 50px 0;
}

.container__title {
    text-align: center;
    font-size: 4vh;
    font-weight: 700;
    font-family: "monsterrat-thin";
}

.title_link {
    display: block;
    color: #31adeb !important;
    transition: all 0.3s ease 0s !important;
}
    .title_link:hover {
        color: #1752b3 !important;
        font-weight: 900;
    }

.current-course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 400px;
}

.current-course__image {
    width: 250px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.current-course__title,
.course__title {
    text-align: center;
    font-size: 3vh;
    font-family: "monsterrat-bold";
    margin-top: 10px;
}

.current-course__info,
.course__info {
    text-align: center;
    font-size: 2.5vh;
    font-family: "monsterrat-light";
}

.current-course__percent {
    width: 250px;
    height: 250px;
}

    .current-course__percent .ldBar path.mainline,
    .course__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #66a8ff;
    }

    .current-course__percent .ldBar path.baseline,
    .course__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .current-course__percent .ldBar-label,
    .course__percent .ldBar-label {
        font-size: 3vh;
        color: #66a8ff;
    }

.current-course__button {
    min-height: 20px;
    width: 500px;
    padding: 20px;
    font-size: 2.5vh;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.5s ease 0s !important;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: #66a8ff;
    color: #fff;
}

    .current-course__button:hover,
    .course__button:hover,
    .challenge__button_accept:hover,
    .challenge__button_create:hover,
    .news__button:hover {
        opacity: 0.7;
        box-shadow: 2px 2px 2px #999;
    }

.courses-container {
    min-height: 300px;
}

.courses {
    margin-top: 20px;
    padding-bottom: 30px;
}

.course {
    width: 350px;
    height: auto;
    border: 1px solid #66a8ff;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0px 8px 24px 4px rgba(174, 174, 192, 0.3), 0px 4px 12px 2px rgba(174, 174, 192, 0.3) !important;
}

.course-content {
    padding: 20px;
    height: auto;
}

.course__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.course__info{
    margin-top: 10px;
    margin-bottom: 10px;
}

.course__percent {
    width: 150px;
    margin: 0 auto;
    height: 150px;
}

.swiper-wrapper{
    height: auto !important;
}


.course__button {
    width: auto;
    min-height: 20px;
    padding: 20px;
    background-color: #66a8ff;
    color: #fff;
    font-size: 2.5vh;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.level-container {
    background-color: #f7fff9;
    min-height: 300px;
    padding: 50px;
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 400px;
}

.level__title {
    margin-top: 50px;
    font-size: 4vh;
    font-family: "monsterrat-bold";
    color: #00c738;
}

.level__percent {
    width: 250px;
    height: 250px;
}

    .level__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #00c738;
    }

    .level__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .level__percent .ldBar-label {
        font-size: 3vh;
        font-family: "monsterrat-light";
        color: #00c738;
    }

.level__info {
    font-size: 2.5vh;
    color: #00c738;
    font-family: "monsterrat-light";
    margin-top: 100px;
}

.level__xp {
    color: #00c738;
    font-family: "monsterrat-light";
    font-size: 2.5vh;
    text-align: center;
    margin-top: 30px;
}

.performance-container {
    margin-top: 50px;
    min-height: 500px;
}

.performance {
    padding: 50px 200px;
}

#performanceChart {
    width: 100% !important;
    height: 500px !important;
}

.challenges-container {
    min-height: 300px;
    background-color: #fffafa;
    padding: 0;
}

.challenges {
    padding: 0;
}

.challenge__info{
    margin-top: 10px;
    margin-bottom: 10px;
}

.winrate__percent {
    width: 200px;
    height: 200px;
}

    .winrate__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #ff4f4f;
    }

    .winrate__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .winrate__percent .ldBar-label {
        color: #ff4f4f;
        font-size: 3vh;
        font-family: "monsterrat-normal";
    }

.winrate__info {    
    color: #ff4f4f;
    font-size: 4vh;
    margin-top: 70px;
    text-align: center;
}

.challenge {
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0px 8px 24px 4px rgba(174, 174, 192, 0.3), 0px 4px 12px 2px rgba(174, 174, 192, 0.3) !important;
}

.challenges-swiper {
    padding: 30px;
}

.challenge_create {
    border: 1px solid #98ff94;
    background-color: #98ff94;
}

.challenge__image {
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.challenge__avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

.challenge-content {
    padding: 20px;
    padding-top: 10px;
}

.challenges-swiper > .swiper-button-next {
    color: #ff4f4f !important;
    font-size: 80px !important;
}

.challenges-swiper > .swiper-button-prev {
    color: #ff4f4f !important;
    font-size: 80px !important;
}

.challenge__avatar img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.challenge__username {
    text-align: center;
    color: #002c8a;
    font-family: "monsterrat-normal";
    font-size: 3vh;
}

.challenge__info {
    text-align: center;
    color: #002c8a;
    font-family: "monsterrat-light";
    font-size: 2.5vh;
}

.challenge__button {
    min-height: 30px;
    border-radius: 20px;
    width: auto;
    transition: all 0.5s ease 0s;
    font-family: "monsterrat-light";
    font-size: 3vh;
    padding: 20px;
    text-align: center;
}

.challenge__button_accept {
    color: #fff;
    background-color: #fc5858;
}

.challenge__button_create {
    color: #fff;
    background-color: #00ed86;
}

.challenge_accept {
    border: 1px solid #ff9494;
    background-color: #ff9494;
}

.achievment-container {
    min-height: 300px;
    padding: 50px 0;
    margin-top: 10px;
}

.achievment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 400px;
}

.achievment__image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.achievment__name {
    margin-top: 30px;
    text-align: center;
    font-family: "monsterrat-bold";
    font-size: 3vh;
    color: #ff9147;
}

.achievment-percent__subtext {
    margin-top: 30px;
    text-align: center;
    font-family: "monsterrat-normal";
    font-size: 2.5vh;
    color: #ff9147;
}

.achievment__percent {
    width: 250px;
}

    .achievment__percent .ldBar path.mainline {
        stroke-width: 6;
        stroke: #ff9147;
    }

    .achievment__percent .ldBar path.baseline {
        stroke-width: 6;
        stroke: #d6d6d6;
    }

    .achievment__percent .ldBar-label {
        color: #ff9147;
        font-family: "monsterrat-light";
        font-size: 3vh;
    }

.news-container {
    min-height: 300px;
    background-color: #fdfaff;
    padding: 50px 0;
}

.news {
    padding: 50px;
}

    .news .swiper-button-prev::after,
    .news .swiper-button-next::after {
        color: #530091 !important;
        font-size: 80px;
    }

.news-el {
    width: 350px;
    height: auto;
    padding: 30px;
    border: 1px solid #b34fff;
    border-radius: 40px;
    margin: 0 auto;
}

.news-el-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-el-header__text {
    color: #530091;
    font-family: "monsterrat-bold";
    font-size: 3vh;
}

.news-el-header__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

    .news-el-header__avatar img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

.news__content {
    font-family: "monsterrat-thin";
    color: #530091;
    font-size: 2.5vh;
}

.news__date {
    font-family: "monsterrat-thin";
    color: #530091;
    font-size: 2.3vh;
}

.news__button {
    border-radius: 20px;
    padding: 10px;
    width: auto;
    min-height: 30px;
    background-color: #7f00de;
    color: #fff;
    transition: all 0.5s ease 0s;
    font-family: "monsterrat-normal";
    font-size: 3vh;
    text-align: center;
}

@media (max-width: 1362px) {
    .current-course {
        padding: 50px 200px;
    }

    .level {
        padding: 50px 200px;
    }

    .achievment {
        padding: 50px 180px;
    }
}

@media (max-width: 920px) {
    .current-course {
        padding: 50px 150px;
    }

    .level {
        padding: 50px 150px;
    }

    .achievment {
        padding: 50px 100px;
    }

    .performance {
        padding: 50px 100px;
    }
}

@media (max-width: 800px) {
    .current-course {
        flex-direction: column;
        padding: 10px 30px;
    }

    .current-course__button {
        width: 350px;
        margin-top: 10px;
    }

    .current-course__info{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .level {
        flex-direction: column;
        padding: 50px;
    }

    .level__title {
        text-align: center;
    }

    .level__percent {
        margin: 0 auto;
    }

    .level__info {
        margin-top: 50px;
        text-align: center;
    }

    .achievment {
        flex-direction: column;
    }

    .achievment__image {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .achievment__percent {
        margin: 0 auto;
        width: 200px;
    }
}
.link_active {
    color: #17b34b !important;
}

.dev-text{
    text-align: center;
    font-family: "monsterrat-bold";
    font-size: 5vh;
    margin-top: 50px;
}

@media (max-width: 650px) {
    .level__percent {
        width: 200px;
        height: 200px;
    }

    .performance {
        padding: 50px 50px;
    }
}

@media (max-width: 618px) {
    .challenge {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .level__percent {
        width: 150px;
        height: 150px;
    }

    .challenges-winrate {
        flex-direction: column;
    }

    .winrate__percent {
        margin: 0 auto;
    }

    .winrate__info {
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .current-course__button {
        width: 250px;
    }

    .current-course__percent {
        width: 200px;
        height: 200px;
    }

    .current-course__image {
        width: 200px;
        height: 150px;
    }

    .course {
        width: 250px;
    }

    .course__image {
        height: 150px;
    }

    .course__title {
        margin-top: 5px;
    }

    .course__percent {
        height: 100px;
        width: 100px;
    }

    .courses-container {
        padding: 20px;
    }

    .level {
        padding: 20px;
    }

    .achievment {
        padding: 50px;
    }

    .news-el {
        width: 200px;
    }

    .news-el-header__avatar {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .news-el-header__text {
        text-align: center;
    }

    .news-el-header {
        flex-direction: column;
    }

    .performance {
        padding: 20px;
    }
}

@media (max-width: 340px) {
    .challenge {
        width: 250px;
    }

    .achievment {
        padding: 20px;
    }

    .news-el {
        width: 180px;
        padding: 10px;
    }

    .news__button {
        padding: 2px;
    }
}
