/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul-li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/
html{
    height: 100%;
}
body {
    height: 100%;

    background: rgb(183,201,255);
    background: linear-gradient(0deg, rgba(183,201,255,1) 0%, rgba(243,254,254,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.large-header{
    background: url("../images/mainBackground.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}


.large-header__content h3 {
    text-align: center;
    font-size: 5vh;
    color: #303030;
}

    .large-header__content h3 p {
    }


.content {
    padding: 5% 20%;
}


.flexImage {
    transform: scale(0);
    transition: all 0.8s ease 0s;
}

    .flexImage._active {
        transform: scale(1);
    }

.anim_show {
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

    .anim_show._active,
    ._active .anim_show {
        opacity: 1;
        transform: translate(0px, 0px);
    }


/*leaderboard*/
.leaderboard {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex: 1 1 50.00%;
    justify-content: space-between;
}

.leaderboard-header{
    text-align: center;
    font-size: 4vh;
    color: #009bd4;
}

.leaderboard__image {

}
.leaderboard__image img{
    height: 100%;
    width: 100%;
    margin: 0;
}


.user {
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 50% auto;
    transition: all 0.3s ease 0s;
    border-radius: 40px;
    padding: 0 20px;
}

.leaderboard-content-body{
    height: 300px;
    overflow: auto;
}

    .leaderboard-content-body .user:hover {
        background-color: #8adfff;
    }

    .leaderboard-content-body .user p {
        font-size: 2.3vh;
        color: #006594;
    }


/*userslist*/
.userslist {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 50.00%;

}

.userslist-header {
    text-align: center;
    font-size: 4vh;
    color: #cc7b00;
}

.userslist-content-body{
    height: 300px;
    overflow: auto;
}

    .userslist-content .user:hover {
        background-color: #ffc46b;
    }

.userslist-content .user p {
    font-size: 2.3vh;
    color: #cc7b00;
}

.userslist__image {
    height: 100%;
}

.userslist__image img{
    height: 100%;
    width: 100%;
}



.courses-part {
    margin-top: 50px;
}

/*course*/

.current-course {
    height: 100%;
    border-radius: 40px;
    background: rgb(0,31,122);
    background: linear-gradient(0deg, rgba(0,31,122,1) 0%, rgba(0,228,228,1) 100%);
    opacity: 70%;
    transition: all 0.8s ease 0s;
}

.current-course__title {
    text-align: center;
    font-size: 5vh;
    color: #007552;
    font-weight:500;
}

.current-course-body {
    margin-top: 20px;
    transition: all 0.5s ease 0s;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    flex: 1 1 50.00%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.current-course-body__title {
    text-align: center;
    font-size: 4vh;
    color: #005754;
    font-weight: 500;
}

.current-course:hover {
    transform: scale(1.1);
}

.current-course-body-info-image {
    max-height: 150px;
    max-width: 150px;
    margin: 0 auto
}

.current-course-body-info-image img {
    height: auto;
    max-width: 100%;
}

.current-course-body-percent .ldBar {
    margin-top: 30px;
}

.current-course-body-percent .ldBar path.mainLine {
    stroke-width: 5;
    stroke: #00bf93;
    stroke-linecap: round;
}

.current-course-body-percent .ldBar path.baseLine {
    stroke-width: 3;
    stroke: #c2ffed;
    stroke-linecap: round;
}

.current-course-body-percent .ldBar-label {
    font-size: 3vh;
    color: #00a39e;
    font-weight: 700;
}

/*courses*/


.tile {
    border-radius: 40px;
    padding: 0;
    margin-top: 30px;
    background: rgb(16,0,111);
    background: linear-gradient(0deg, rgba(16,0,111,1) 0%, rgba(228,0,135,1) 100%);
    opacity: 70%;
    transition: all 0.8s ease 0s;
}

.tile:hover{
    transform: scale(1.1);
}

.tile-title {
    text-align: center;
    font-size: 4vh;
    color: #5e0056;
    font-weight: 500;
}

.tile-body {
    height: 250px;
    border-radius: 40px;
    overflow: auto;
    position: relative;
}

.tile-courses {
    
}
.course {
    margin: 0;
}

.course__header {
    text-align: center;
    font-size: 5vh;
    color: #2c0094;
    font-weight: 500;
}

.course__body {
    width: 120px;
    margin: 0 auto;
}

    .course__body img {
        width: 100%;
    }

.tile-courses__hover {
    position: absolute;
    display: inline;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    border-radius: 40px;
    background-color: rgba(79, 73, 140, .7);
    transition: height 0.3s ease 0s, opacity 0.7s ease 0s;
}

.tile-courses:hover .tile-courses__hover {
    height: 100%;
    opacity: 1;
}

.course-hover__header {
    text-align: center;
    font-size: 5vh;
    color: #dbb702;
}

.course-hover__body .ldBar {
    margin: 0 auto;
}

.course-hover__body .ldBar path.mainLine {
    stroke-width: 7;
    stroke: #7d00d1;
    stroke-linecap: round;
}

.course-hover__body .ldBar path.baseLine {
    stroke-width: 7;
    stroke: #d16c00;
    stroke-linecap: round;
}

.course-hover__body .ldBar .ldBar-label {
    font-size: 4vh;
    color: #db7202;
    font-weight: 700;
}

/*performance*/

.perfomance-part {
    background: rgb(111,0,0);
    background: linear-gradient(0deg, rgba(111,0,0,1) 0%, rgba(228,199,0,1) 100%);
    opacity: 70%;
    border-radius: 40px;
    margin-top: 50px;
    height: 500px;
}

.chart-container{
    position: relative;
    height: 500px;
}

.three-options{
    margin-top: 50px;
}

/*challenges*/
.challenges-part {
    border-radius: 40px;
    height: 100%;
    background: rgb(106,0,111);
    background: linear-gradient(0deg, rgba(106,0,111,1) 0%, rgba(228,0,89,1) 100%);
    padding: 20px;
}

.challenges-part__title {
    text-align: center;
    font-size: 3vh;
    color: #560061;
    font-weight: 600;
}

.challenges-part-body{
    position: relative;
    overflow: auto;

}

.challenge{
    margin: 0 auto;
    margin-top: 30px;
}

.challenge__text {
    text-align: center;
    font-size: 3vh;
    color: #abf1ff;
}

.challenge-buttons{
    display: flex;
    flex-direction: row;
    flex: 1 1 50.00%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.confirm-btn, .deny-btn {
    height: 50px;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    font-size: 2vh;
    transition: all 0.8s ease 0s;
}

.deny-btn{
    background-color: #ff3333;
    color: #ffc28c;

}

.deny-btn:hover, .confirm-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.confirm-btn{
    background-color: #6efa32;
    color: #820000;
}

/*achievments*/
.achievments-part {
    border-radius: 40px;
    height: 100%;
    background: rgb(28,111,0);
    background: linear-gradient(0deg, rgba(28,111,0,1) 0%, rgba(196,228,0,1) 100%);
    margin-left: 100px;
}

/*posts*/
.posts-part {
    border-radius: 40px;
    height: 100%;
    background: rgb(0,111,13);
    background: linear-gradient(0deg, rgba(0,111,13,1) 0%, rgba(0,228,225,1) 100%);
    margin-left: 100px;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    background-color: black;
}

@keyframes denyAnimation{
    0%{
        margin-left: 0;
        opacity: 1;
    }
    100%{
        margin-left: 50px;
        opacity: 0;
    }
}

@keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@-webkit-keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@-moz-keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@-o-keyframes waves {
    0% {
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}

@media(max-width: 1600px) {
    .content{
        padding: 5% 15%;
    }
}

@media(max-width: 1300px) {
    .content {
        padding: 5% 10%;
    }
}

@media(max-width: 758px) {
    .current-course{
    }
}

@media(max-width: 600px) {
    .leaderboard{
        height: 200px;
    }

    .userslist{
        height: 200px;
    }
}