/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none !important;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a,
a:visited {
    text-decoration: none !important;
    color: #000;
}

    a:hover {
        text-decoration: none !important;
    }

ul-li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*----------------------------*/

@font-face {
    font-family: monsterrat-thin;
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: monsterrat-light;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: monsterrat-normal;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: monsterrat-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

hr {
    margin: 10px 0;
    border: 1px solid #5298c7 !important;
}

.content {
    padding: 5%;
}

.profile {
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    flex-direction: row;
}

.profile-col-1 {
    width: 20%;
    height: auto;
}

.profile__image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

    .profile__image img {
        width: 100%;
        height: 100%;
    }

.profile-info {
    font-family: "monsterrat-normal";
}

.profile-info__item {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .profile-info__item h3 {
        font-family: "monsterrat-normal";
        font-size: 1.8em;
    }

    .profile-info__item p {
        font-family: "monsterrat-light";
        font-size: 1.4em;
        text-align: justify;
    }

.profile-info__change {
    width: 100%;
    font-size: 1.4em !important;
    font-family: "monsterrat-normal" !important;
    border-radius: 20px !important;
}

.profile-col-2 {
    padding: 50px;
    width: 80%;
}

.profile__name {
    font-size: 5vh;
    font-family: "monsterrat-normal";
    text-align: center;
    color: #5298c7;
}

.tabs-container {
    margin-top: 50px;
}

.tab {
    overflow: hidden;
    background-color: #ceecff;
    font-size: 1.4em;
    font-family: "monsterrat-light";
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

.tablinks {
    color: #023257;
}

    .tablinks:hover {
        color: #ceecff;
        transition: all 0.3s ease 0s;
    }

    .tablinks.active {
        color: #ceecff;
    }

.level {
    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    margin-top: 50px;
}

.level__percent {
    width: 200px;
    height: 200px;
}

.ldBar path.mainline {
    stroke: #f2f2f2;
    stroke-width: 6;
}

.ldBar path.baseline {
    stroke: #64bcff;
    stroke-width: 6;
}

.ldBar-label {
    color: #64bcff;
    font-size: 1.8em;
    font-family: "monsterrat-normal";
}

.level__content {
    color: #64bcff;
    font-size: 2.5em;
    font-family: "monsterrat-bold";
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #51aff7;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #51aff7;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 50px;
    border: 1px solid #51aff7;
    border-top: none;
}

@media (max-width: 1227px) {
    .level {
        padding: 20px 100px;
    }
}

@media (max-width: 900px) {
    .level {
        padding: 20px;
    }
}

@media (max-width: 700px) {
    .level {
        flex-direction: column;
    }

    .level__content {
        margin-top: 30px;
    }
}

@media (max-width: 660px) {
    .profile {
        flex-direction: column;
    }

    .profile-col-1 {
        width: 100%;
    }

    .profile-col-2 {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .profile__name {
        font-size: 2.2em;
    }
}
