<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error 401</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/errors/error401.css" />
</head>
<body>
    <div class="container">
        <img class="error__img" width="64" height="64" src="~/images/exclamation.svg" title="error">

        <p class="error__msg">Error 401: User must be logged to see the content</p>

        <p class="error__msg_small">Unathorized</p>

        <div class="input__container from-group">
            <input id="email" type="text" class="form-control my-3" placeholder="email">
            <input id="password" type="text" class="form-control my-3" placeholder="password">
            <input id="acceptBtn" type="button" class="btn btn-success sign-in__btn" value="Sign In">
            <input id="mainBtn" class="btn btn-secondary main__btn" type="button" value="Back To Main">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/errors/error401.js"></script>
</body>
</html>